{% extends 'main/base.html' %}
{% block body %}
    <br><br>
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <div class="card" id="card">
                <div class="form-header blue-gradient" id="form-header">
                    <h4 class="h4-responsive"><i class="fa fa-user" style="color: white"></i> &nbsp; Student SignUp:
                    </h4>
                </div>
                <form action="" method="post">
                    {% csrf_token %}

                    {% include 'error_mixin.html' with field=form.email %}
                    <div class="md-form">
                        <i class="fa fa-envelope prefix"></i>
                        {{ form.email }}
                        <label for="{{ form.rollno.id_for_label }}" class="">Your Email</label>
                    </div>

                    {% include 'error_mixin.html' with field=form.password1 %}
                    <div class="md-form">
                        <i class="fa fa-lock prefix"></i>
                        {{ form.password1 }}
                        <label for="{{ form.password1.id_for_label }}" class="">Password</label>
                    </div>

                    {% include 'error_mixin.html' with field=form.password2 %}

                    <div class="md-form">
                        <i class="fa fa-lock prefix"></i>
                        {{ form.password2 }}
                        <label for="{{ form.password2.id_for_label }}" class="">Repeat Password</label>
                    </div>

                    <div class="col-12 mb-sm-3 password-help">
                        <small>{{ form.password1.help_text|safe }}</small>
                    </div>

                    <div class="text-center">
                        <button class="btn btn-primary blue-gradient" type="submit" name="login1"
                                style="font-size: 1rem; font-weight: 450px;"> Register
                        </button>
                    </div>

                </form>
                <br>
            </div>
        </div>
    </div>
{% endblock %}