{% extends 'main/base.html' %}
{% block body %}
<div class="row">
    <div class="col-lg-2">
        {% include 'main/mixins/recruiters_mixin.html' with companies=companies %}

    </div>
    <div class="col-lg-10">
        <div class="card">
            <div class="my-card" id="my-card"><span style="font-size: 1.5rem"> &nbsp;Student Achievements</span></div>
            <div class="card-block">
                <p class="card-text">
                    Major achievements of the students are mentioned below:
                    <br>
                <ol>
                    <li>Ph.D. student from the Department of Physics, received the third best poster award for his
                        research
                        work on “Analysis of Quantum Satellite Communication under Atmospheric Effects” at the 2017
                        Siegman
                        International School on Lasers during 6-11 August 2017 at Lion, Mexico City.
                    </li>
                    <br>
                    <li>
                        Three B.Tech. Students from the Batch 2012, have secured AIR 7, AIR 22 and AIR 24 rank.
                    </li>
                    <br>
                    <li>
                        Three B.Tech. Student from the Department of Electrical Engineering were commended successfully
                        for
                        completing a mini project on Automated Fruit Harvesting Robotic Arm as part of their engagement
                        as
                        part of Industry Immersion Program (IIP) at Mahindra Research Valley in Chennai.
                    </li>
                    <br>
                    <li>
                        Ph.D. student and also a Saravanan Rajamani, Research Assistant, Department of Electrical
                        Engineering have been selected to receive the SERB National Post - Doctoral.
                    </li>
                    <br>

                    <li>Fellowship 2017, offered by the Science and Engineering Research Government of India.
                    </li>
                    <br>
                    <li> Team VAAYU 2.0 of Automobile Club at IIT Jodhpur participated in BAJA 2016 – an all-terrain
                        vehicle
                        design competition organized by Society of Automobile Engineers (SAE) India. In the Virtual
                        Round
                        held at Chitkara University, Patiala, and Punjab day 10-11 July 2015, VAAYU 2.0 qualified for
                        the
                        final event with scoring of 92.64/100 in presentation component, which is 13th out of 152 teams
                        who
                        qualified amongst about 400 teams that participated in the event. After qualifying in Virtual
                        Round,
                        the team is gearing up for developing an all-terrain vehicle to participate in the final round
                        of
                        competition.
                    </li>
                    <br>
                    <li>
                        Photographic talents of the students were showcased at “Spark from India: A photographic journey
                        through incredible India” at the Galerrie Lorien in Copenhagen, Denmark during 17 October – 14
                        November 2015 along with the work of other professionals artists from around the world.
                    </li>
                    <br>

                    <li> Six students receive the Internship Award from Panasonic Corporation on 19 July 2015.
                    </li>
                    <br>
                    <li>
                        Seven students received DAAD WISE Scholarship and 1 S.N. Bose Scholarship all for a period of 3
                        months (May – July 2016).
                    </li>
                    <br>
                    <li>Robotics Club students participated in IIT Bombay Tech Fest Magneto event and secured 4th
                        position.
                    </li>

                    <br>
                    <li>Programming Team participated in Programming Competition Battle Code at IIT Bombay Techfest and
                        secured 2nd position during 26 – 28 December 2015.
                    </li>
                    <br>
                    <li> Students participated in the IIT Guwahati Robotics Competition held on July 2015 and stood
                        among
                        the top three teams and qualified for participating in the Finals.
                    </li>
                    <br>
                    <li>Third year students cleared Hackothan Competition organized by Microsoft and got an opportunity
                        for
                        their direct interview process for Placements during July 2015.
                    </li>
                    <br>
                    <li>PhD. Student of Department of Computer Science and Engineering received International Travel
                        Grant
                        from the prestigious International Conference on Computer Vision and Pattern Recognition, Las
                        Vegas,
                        USA to showcase her research work during 26 June – 1 July 2016.
                    </li>
                    <br>
                    <li>PhD. Student of Department of Biology, won the Best Oral Presentation Award at International
                        Conference on Integration of Stem Education and Mental Health (ICISEM 16),organized at the
                        Noorul
                        Islam Centre for Higher Education, Thuckalay, Tamil Nadu, during 20 – 21 June 2016.

                    </li>
                    <br>
                    <li> B.Tech. students from Batch 2014, 22 students from Batch 2015 and 17 students from Batch 2016
                        joined Industry Immersion Program with M&M, Tata Motors, L&T, Tata Power and TVS Motor Company
                        Limited.
                    </li>
                </ol>

            </div>
        </div>
        </p>
    </div>
</div>


{% endblock %}