{% extends 'main/base.html' %}
{% load staticfiles %}
{% block body %}
    <div id="myCarousel" class="my-carousel carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1" class=""></li>
            <li data-target="#myCarousel" data-slide-to="2" class=""></li>
            <li data-target="#myCarousel" data-slide-to="3" class=""></li>
            <li data-target="#myCarousel" data-slide-to="4" class=""></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="carousel-image" src="{%  static '/img/img1.JPG' %}" alt="IIT Jodhpur Permanent Campus" >
            </div>
            <div class="carousel-item">
                <img class="carousel-image" src="{%  static '/img/img2.JPG' %}" alt="IIT Jodhpur Permanent Campus">
            </div>
            <div class="carousel-item">
                <img class="carousel-image" src="{%  static '/img/img3.jpeg' %}" alt="IIT Jodhpur Permanent Campus">
            </div>
            <div class="carousel-item">
                <img class="carousel-image" src="{%  static '/img/img4.jpeg' %}" alt="IIT Jodhpur Permanent Campus">
            </div>
            <div class="carousel-item">
                <img class="carousel-image" src="{%  static '/img/img5.JPG' %}" alt="IIT Jodhpur Permanent Campus">
            </div>
        </div>
    </div>
<br>

<br>
<!--
  <div class="container" align="center" height="1000px" width="100%">

     <p align="center" style="font-family:bebas;font-size:50px;color:white;">Office of Students' Placement, IIT Jodhpur</p>
 </div>

 <br>
 <div class="row" align="center">
     <div class="col-sm-3"></div>
     <div class="col-sm-3"><a href="/student/login" class="btn btn-primary btn-lg primary">Student Area</a></div>
     <div class="col-sm-3"><a href="/company/login" class="btn btn-primary btn-lg primary">Company Area</a></div>
 </div>
 <br><br>
-->


<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">

        <div class="card">
            <div class="card custom-gradient" id="my-card"><span style="font-size: 1.5rem"> &nbsp; About Us</span></div>
            <div class="card-block">
                <p class="card-text">         Welcome to the <b>Student Placement Website of IIT Jodhpur!</b> IIT Jodhpur is one of the eight new IITs announced by the MHRD, in 2008. Our graduates are provided with education that seeks rigorous thinking, hard work and fundamentals.
	                        The Office of Student Placements is managed by the Institute in consultation with the students. The tasks of contacting various companies, their interaction with the students, arranging for the pre-placement talks, tests, interviews,
	                        entire work is coordinated by the Office of Student Placements.
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-1">
    </div>
</div>
<br><br>
<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">

        <div class="card">
            <div class="card custom-gradient" id="my-card"><span style="font-size: 1.5rem"> &nbsp; Perspective</span></div>
            <div class="card-block">
                <p class="card-text">    Students earn B.Tech degrees in Electrical Engineering, Computer Science and Engineering, Mechanical Engineering and Systems Sciene as well as M.Tech degrees in Energy, Information and Communication Technology and Systems Science,
                    but they are taught subjects from versatile backgrounds namely organizational Behaviour, English Literature, International Relations and Renewable Energy. Students not only choose courses to specialise but also learn as Robert
                    Frost once said “to mix vocation with avocation”.
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-1">
    </div>
</div>
<br><br>
<!--<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">

        <div class="card">
            <div class="card custom-gradient" id="my-card"><span style="font-size: 1.5rem"> &nbsp; An Invitation to IIT Jodhpur</span></div>
            <div class="card-block">
                <p class="card-text">     With this introduction, we welcome the Student Recruiters with open arms to join us at the Student Placement Portal of IIT Jodhpur and hope that the association will grow not only in the student placement sector, but also in other professional areas.
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-1">
    </div>
</div>
<br><br>-->
<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">

        <div class="card">
            <div class="card custom-gradient" id="my-card"><span style="font-size: 1.5rem"> &nbsp; Welcome</span></div>
            <div class="card-block">
                <p class="card-text">           On behalf of the Office of Student Placements, I welcome you to the student placement program of IIT Jodhpur. The Office of Student Placements has been setup as an interface between companies and students, to help organize the placement process in an
                    orderly and efficient manner, with the intent of developing a long-lasting and mutually beneficial relationship.
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-1">
    </div>
</div>
<br><br>

<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">

        <div class="card">
            <div class="card custom-gradient" id="my-card"><span style="font-size: 1.5rem"> &nbsp; Research Projects and Company Experience</span></div>
            <div class="card-block">
                <p class="card-text">         Undergraduates of our Institute undergo an eight-week summer training in reputed organizations, both in India or abroad. In the previous academic year, more than half of our students were placed for summer internships in several reputed companies. The
                    list of companies that have offered internship to IIT Jodhpur students in previous years includes names such as Microsoft, Shree Cement, Common Floor, Silicon Mentor, Ishi Systems, Trident Groups, Havells, BHEL, IOCL, BARC etc.
                    Some of them have participated in research projects at universities in USA, Canada, Japan, Germany, France and Ireland. Also some were involved in projects on campus. Institute places emphasis on inter-disciplinary projects to
                    nurture multifaceted skills and creativity required for handling existing and anticipated real-world problems. I believe that our students will be an asset to the organization they join.
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-1">
    </div>
</div>
<br><br>
<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">

        <div class="card ">
            <div class="card custom-gradient" id="my-card"><span style="font-size: 1.5rem"> &nbsp; The Placement Portal and our help</span></div>
            <div class="card-block">
                <p class="card-text">  The Office of Student Placements has a dedicated staff equipped to help executives acquaint themselves with the procedure and provide all necessary logistic support. The Placement Team of the Office will help you in an efficient and organized placement
	                        process. I conclude by extending my cordial invitation to you to participate in the exchange of talent, hoping that this interaction will lead to a fruitful and lasting relationship...
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-1">
    </div>
</div>

<br><br>
{% endblock %}
