{% extends 'main/base.html' %}
{% block body %}
    <br><br>
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <div class="card">
              <div class="card custom-gradient" id="my-card"><span style="font-size: 1.5rem"> &nbsp; New Breed </span></div>
              <div class="card-block">
                <p class="card-text">
                        Though India produces 300000-400000 engineers per year, the onus of today’s age is to create quality engineers who don’t just engineer but also create and innovate. It is this vision that fuels IIT Jodhpur. The students in IIT Jodhpur are motivated and trained extensively to this effect. They are the recent “New Breed”, who emerged as a result of embracing the interdisciplinary perspectives and have been nurtured with quality and innovation. Due to their unique exposure they have gained a repository of creativity that defies all conventions.
                </p>
            </div>
          </div>
        </div>
      </div>
      <br><br>
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
          <div class="card">
            <div class="card custom-gradient" id="my-card"><span style="font-size: 1.5rem"> &nbsp; Lab Setups </span></div>
            <div class="card-block">
            <p class="card-text">
                Students, especially those of the pioneer batch have incredible involvement and experience of two years in setting up labs. They have good understanding of the intricate features such as calibrating and configuring the instruments. They have also highly developed proactive skills in experiment design as they have been directly assisting the professors in this regard.
            </p>
            </div>
          </div>
        </div>
      </div>
      <br><br>
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
          <div class="card">
            <div class="card custom-gradient" id="my-card"><span style="font-size: 1.5rem"> &nbsp; Institute Level Projects</span></div>
            <div class="card-block">
            <p class="card-text">
                        Students here have high early exposure to industry through a variety of institute level projects in collaboration with companies. These simulate a virtual work environment at the undergraduate level and empower the students to be professionals even at entry-level jobs. Few noteworthy examples are the ingenious 35$ tablet pc testing and development in collaboration with MHRD and the system software “ANURAG” project in collaboration with DRDO and Algo Systems.
            </p>
            </div>
          </div>
        </div>
      </div>
      <br><br>
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
          <div class="card">
            <div class="card custom-gradient" id="my-card"><span style="font-size: 1.5rem"> &nbsp; Institute Management</span></div>
            <div class="card-block">
              <p class="card-text">
                        A rather rare and undoubtedly major asset of the students, especially the pioneer batch, is the experience of institute management. These students have had an exciting opportunity to participate in building the institute from scratch. The whole gamut of activities such as the Counselling Service, Placement Services, mess facilities, Institute festivals, etc. is managed by students with the help of faculty members. An opportunity such as this allows a student to acquire managerial abilities, for in doing these things he learns not only the managerial methods but also the Indian system of “Jugaad” for generating quick solutions to stubborn problems.
              </p>
            </div>
          </div>
        </div>
      </div>
      <br><br>
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
          <div class="card">
            <div class="card custom-gradient" id="my-card"><span style="font-size: 1.5rem"> &nbsp; Giving Back To Society</span></div>
            <div class="card-block">
              <p class="card-text">

                        Inspired by the Director's vision, the Institute is under constant effort to conform to the ethical value of contributing one’s part to the society. Students help plant trees, dispose garbage, and think of solutions for the rural poor. This not only gives the organization a holistic aspect but also attracts attention to the largest section of the Indian population – the rural and those on the margin. In the coming times these rural people would form an integral component of modern Indian Society with the largest purchasing power. The students of IIT Jodhpur would be more than prepared for such a change.

              </p>
            </div>
          </div>
        </div>
      </div>
      <br><br>
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
          <div class="card">
            <div class="card custom-gradient" id="my-card"><span style="font-size: 1.5rem"> &nbsp; Research</span></div>
            <div class="card-block">
            <p class="card-text">

                        Institute has various labs which allow undergraduates to work alone or in groups in developing exciting solutions to problems in the Industry as well as in the Academia. Creativity is sustained and kindled in the students through a large number of competitions organized by students in the spheres of technology, arts and management thereby providing for the holistic development of the individual. This is signified by the Institute level SCHOD (Student Council for Holistic Development), entirely managed by the student community. All of this happens simultaneously with regular coursework preparing students for a pulsating and busy life, teaching them how to love work. Hence the research potential of students in the institute grows in acuity, thereby allowing them to reach new zeniths of creativity without any jeopardy to their jobs.

            </p>
          </div>
        </div>
      </div>
    </div>
    <br>
{% endblock %}