{% extends 'main/base.html' %}
{% block body %}
<br><br>
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
          <div class="card">
            <div class="card custom-gradient" id="my-card"><span style="font-size: 1.5rem"> &nbsp; B.Tech</span></div>
              <div class="card-block">
                <p class="card-text">
                  The Institute offers the following Bachelor of Technology (B.Tech.) Programs:<br />
                  1.  B.Tech. (Computer Science & Engineering)<br />
                  2.  B.Tech. (Electrical Engineering)<br />
                  3.  B.Tech. (Mechanical Engineering)<br />
                  <br>
                  During 2010-14, the Institute had admitted students to the following B.Tech. Programs:<br>
                  1.  B.Tech. (System Science)<br>
                  2.  B.Tech. (Biologically Inspired System Science)<br>
                  Admissions to these programs are stopped from July 2015<br>
                </p>
              </div>
            </div>
        </div>
        <div class="col-lg-1"></div>
    </div>
    <br><br>
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
          <div class="card">
            <div class="card custom-gradient" id="my-card"><span style="font-size: 1.5rem"> &nbsp; M.Tech</span></div>
              <div class="card-block">
                <p class="card-text">
                  The Institute offers the following Master of Technology (M.Tech.) Programs:<br />
                  1.  M.Tech. (Electrical Engineering)<br />
                  2.  M.Tech. (Mechanical Engineering)<br />
                  <br>
                  During 2010-14, the Institute had admitted students to the following M.Tech. Programs:<br>
                  1.  M.Tech. (Information & Communication Technology)<br>
                  2.  M.Tech. (Energy)<br>
                  3.  M.Tech. (System Science)<br>
                  Admissions to these programs are stopped from July 2015<br>
                </p>
              </div>
            </div>
          </div>
        <div class="col-lg-1"></div>
      </div>
    <br><br>

    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
          <div class="card">
            <div class="card custom-gradient" id="my-card"><span style="font-size: 1.5rem"> &nbsp; M.Sc.</span></div>
              <div class="card-block">
                <p class="card-text">
                  The Institute offers the following Master of Science (M.Sc.) Programs:<br />
                  1.  M.Sc. (Chemistry)<br />
                  2.  M.Sc. (Mathematics)<br />
                  3.  M.Sc. (Physics)<br />
                </p>
              </div>
            </div>
          </div>
        <div class="col-lg-1"></div>
      </div>
    <br>
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-8">
            <div class="row">
                <p>
                    For more details please <a href="http://iitj.ac.in/academics/index.php?id=programs" target="_blank">Click Here</a>
                </p>
            </div>
        </div>
    </div>
    <br>
    <br>

{% endblock %}