{% extends 'main/base.html' %}
{% block body %}
<div class="row">
    <div class="col-lg-2">
        {% include 'main/mixins/recruiters_mixin.html' with companies=companies %}

    </div>
    <div class="col-lg-10">
        <div class="card">
            <div class="my-card" id="my-card"><span style="font-size: 1.5rem"> &nbsp; Student Prospective</span></div>
            <div class="card-block">
                <p class="card-text">
                    This year we place before you for your consideration 194 students (112 B.Tech., 36 M.Tech. and 46
                    M.Sc.
                    students ) who are eligible for the seeking placements through the Institute. We also have 121
                    students
                    from B.Tech who are eligible for Internships through the institute. The distributions of their
                    discipline are as mentioned below:
                    <br><br>
                    <b>B.Tech</b> <br>
                    1. Computer Science & Engineering<br/>
                    2. Electrical Engineering<br/>
                    3. Mechanical Engineering<br/><br>
                    <b>M.Tech</b> <br>
                    1. Electrical Engineering<br/>
                    2. Mechanical Engineering<br/>
                    3. Bioscience & Bioengineering<br/><br>
                    <b>M.Sc.</b><br>
                    1. Physics<br/>
                    2. Chemistry<br/>
                    3. Mathematics<br/>
                <h2><b>B. Tech.</b></h2>
                <img src="public/img/btech.png" alt="">
                <h2><b>M. Tech.</b></h2>
                <img src="public/img/mtech.png" alt="">
                <h2><b>M. Sc.</b></h2>
                <img src="public/img/msc.png" alt="">
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}