{% extends 'main/base.html' %}
{% block body %}
<div class="row">
    <div class="col-lg-2">
                    {% include 'main/mixins/recruiters_mixin.html' with companies=companies %}

    </div>
    <div class="col-lg-10">
        <div class="card">
            <div class="my-card" id="my-card"><span style="font-size: 1.5rem"> &nbsp; Summary</span></div>
            <div class="card-block">
                <p class="card-text" style="text-align:justify;">
                    <!--This year, the placement season begin in the month of October 2017, total of <b>104 students registered for placements out of which 78 students got placed</b>. Most of the big corporates like Microsoft, Goldman Sachs, DE Shaw, Amazon, Morgan Stanley, Mahindra, Volvo Eicher, TVS, Tata Motors visited during this season. Some other placement trends are being mentioned below:<br>
                    --><ul class="a">
                        <li><a>For Placement Season 2018, 75% and 72% of B.Tech. and M.Tech. obtained job offers as compared to 72% and 37% in the academic year 2017.</a></li>
                        <li> There has been increase in the number of PPO’s offered to the companies. There are approximately 20 PPO’s offered from the companies.</li>
                        <li> Average salary over all the branches had been increased to 11 Lakhs.</li>
                        <li> This year, we have 45 recruiters who visited our campus</li>
                        <li> The branch wise placement statistics is mentioned below:</li>
                    </ul>
                </p>
                <br>
                    <div class="row">
                        <div class="col-lg-5">
                             <b style="font-size: large;">B.TECH PLACEMENTS :</b><br><br>
                            <table class="table table-bordered table-striped" style="width:auto;white-space: nowrap;">
                                <tr><th colspan="3" style="width:auto; text-align: center">PLACEMENT %</th></tr>
                                <tr><th style="width:auto;">Branch</th><th style="width:auto;">2017-2018</th><th style="width:auto;">2018-2019</th></tr>
                                <tr><td>Computer Science Engineering</td><td>91.7%</td><td>90%</td></tr>
                                <tr><td>Electrical Engineering</td><td>61%</td><td>78%</td></tr>
                                <tr><td>Mechanical Engineering</td><td>72%</td><td>70%</td></tr>
                                <tr><td>System Science</td><td>71%</td><td>NA</td></tr>
                                <tr><td>BISS</td><td>80%</td><td>NA</td></tr>
                                <tr><td><b>Overall </b></td><td>75.96%</td><td>80%</td></tr>
                            </table>
                        </div>
                        <div class="col-lg-5">
                             <b style="font-size: large"> </b><br><br>
                            <table class="table table-bordered table-striped" style="width:auto;white-space: nowrap;">
                                <tr><th colspan="3" style="width:auto; text-align: center">AVERAGE SALARY</th></tr>
                                <tr><th style="width:auto;">Branch</th><th style="width:auto;">2017-2018</th><th style="width:auto;">2018-2019</th></tr>
                                <tr><td>Computer Science Engineering</td><td>15.82 Lakhs</td><td>20.40 Lakhs</td></tr>
                                <tr><td>Electrical Engineering</td><td>8.96 Lakhs</td><td>10.39 Lakhs</td></tr>
                                <tr><td>Mechanical Engineering</td><td>6.62 Lakhs</td><td>8.09 Lakhs</td></tr>
                                <tr><td>System Science</td><td>16.44 Lakhs</td><td>NA</td></tr>
                                <tr><td>BISS</td><td>9.44 Lakhs</td><td>NA</td></tr>
                                <tr><td><b>Overall Average Salary </b></td><td>11.77 Lakhs</td><td>14.57 Lakhs</td></tr>
                                <tr><td><b>Median Salary </b></td><td>9.25 Lakhs</td><td>9.74 Lakhs</td></tr>
                            </table>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-5" >
                            <b>M.TECH PLACEMENTS :</b><br><br>
                            <table class="table table-bordered table-striped" style="width:auto;white-space: nowrap;">
                                <tr><th style="width:auto;">M.Tech</th><th style="width:auto;">2017-2018</th><th style="width:auto;">2018-2019</th></tr>
                                <tr><td>Placement %</td><td>75%</td><td>35%</td></tr>
                                <tr><td>Average Salary</td><td>6.5 Lakhs</td><td>7.25 Lakhs</td></tr>
                                <tr><td>Median Salary</td><td>5.75 Lakhs</td><td>6.25 Lakhs</td></tr>
                            </table>
                        </div>
                    </div>

            </div>
        </div>

            </div>
    <div class="col-lg-1">
    </div>
</div>
{% endblock %}