/* YOUR CUSTOM STYLES */


body {
    margin: 0px auto;
    background-color: #e3e0cf;
    padding: 0% 0% !important;
    padding-bottom: 0;
    height: 100%;
}

html {
    height: 100%;
}

nav {
    background-color: #b56969;
    width: 100%;
    height: fit-content;

}

.media {
    margin: 0 auto 0 auto;
}

.logo {
    height: 5rem;
    width: auto;
}

.media-body {
    margin-left: 5px;
    margin-right: 50px;
    margin-top: 5px;
}

.media-body .pull-right a {
    margin: 0rem;
    color: darkred;
}

.heading {
    color: white;
    vertical-align: middle;
}

.heading a {
    text-decoration: none;
    color: white;
}

.pull-right {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.login-block {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: right;
    font-size: large;
}

.login-block:hover {
    font-size: x-large;
}

marquee img {
    margin-top: 60px;
}

.footer-logos {
    color: white;
    font-size: 2rem;
}

.carousel-inner2 {
    width: 100%;
    height: 28rem;
}

.mycarousel {
    margin: auto;
    width: 100%;
}

.carousel-inner {
    border: 3px;
    border-color: #BB8FCE;
    width: 100%;
    height: 28rem;
}

.carousel-inner_past_recr {
    width: 100%;
    height: fit-content
}

.carousel-image {
    height: 100%;
    width: 28rem;
}

.custom-gradient {
    background: linear-gradient(to right, #0066cc 5%, #66ccff 100%);
}

.logo {
    height: 6rem;
    width: auto;
}

.my-card {
    margin-right: 1rem;
    margin-left: 1rem;
    margin-top: -1rem;
    height: 2.5rem;
    color: white;
    background-color: #b56969 !important;

}

form {
    margin-left: 3rem;
    margin-right: 3rem;
}

.blue-gradient {
    background: linear-gradient(40deg, #45cafc, #303f9f);
}

#form-header {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: -30px;
    margin-bottom: 3rem;
}

.card .form-header {
    border-radius: 0.25rem;

}

#card {

    border-radius: 0.25rem;
}

.card {
    background-color: #edd9c0;
}

.card .h4 {
    color: white;
}

/*}*/
/*#my-section{*/
/*background-image: url("../../public/img/img1-cpy.webp");*/
/*background-size: 100% 100%;*/
/*background-repeat: no-repeat;*/
/*}*/
@media only screen and (max-width: 768px) {
    #my-section {
        background-attachment: fixed;
    }
}

#section-description {
    color: black;
}

.fa {
    /*color: cornflowerblue;*/
}

.heading {
    color: black;
}

/*.big{
  font-weight: bold;
  font-family: serif;
}*/

.h4 {
    font-weight: bold;
}


.footer-basic-centered {
    background-color: #b56969;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    font: normal 1rem sans-serif;
    padding: 1%;
    padding-bottom: 2%;
    position: relative;

}

.footer-basic-centered .footer-company-name {
    color: #ffffff;
    font-size: 14px;
    margin: 0;
}

.footer-basic-centered .footer-logos a {
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 2px;

    font-size: 25px;
    color: #ffffff;
    text-align: center;
    padding-top: 15px;
}

.marquee_spc {
    background-color: fff;
    padding: 25px;
    border: 10px color(#b56969);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.footer_slider_spc {
    background-color: fff;
    padding: 25px;
    border: 10px black;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

mark {
    background-color: #b56969;
    height: 6px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}


/*final testimonial slider spc */


.carousel-inner.anim {


> .active {
    left: 0;
}

> .next,
> .prev {
    position: absolute;
    top: 0;
    width: 100%;
}

> .next.left {
. flip();
    left: 0;
}

> .prev.right {
. rotateInDownLeft();
    left: 0;
}

> .active.left {
    left: -100%;
}

> .active.right {
    left: 100%;
}

}

.carousel-inner {

> .item {
    transition: none;

/
/
WebKit CSS3 transforms for supported devices

@media all and (transform-3d), (-webkit-transform-3d) {
    transition: none

;
    backface-visibility: hidden

;
    perspective:

1000;

&.next,

&.active.right {
     transform: none;
     left: 0;
 }

&.prev,

&.active.left {
     transform: none;
     left: 0;
 }

&.next.left,

&.prev.right,

&.active {
     transform: none;
     left: 0;
 }
}

}
}


@keyframes flip {
    0% {
        transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
        animation-timing-function: ease-out;
    }

    40% {
        transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
        animation-timing-function: ease-out;
    }

    50% {
        transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
        animation-timing-function: ease-in;
    }

    80% {
        transform: perspective(400px) scale3d(.95, .95, .95);
        animation-timing-function: ease-in;
    }

    100% {
        transform: perspective(400px);
        animation-timing-function: ease-in;
    }
}

.flip {
    backface-visibility: visible;
    animation-name: flip;
    animation-duration: 0.6s;
}


















