/* YOUR CUSTOM STYLES */
.mycarousel{
    margin: auto;
    width:900px;
}
.carousel-inner{
    border: 1px solid black;
    width:100%;
    height: 20rem;
}
.carousel-image {
    height:20rem;
    width:100%;
}
.custom-gradient{
    background: linear-gradient(to right, #0066cc 5%, #66ccff 100%);
}
.logo{
  height: 6rem;
  width: auto;
}
#my-card{
  margin-right: 1rem;
  margin-left: 1rem;
  margin-top: -1rem;
  height: 2.5rem;
  color: black;
}
form{
  margin-left: 3rem;
  margin-right: 3rem;
}
.blue-gradient{
  background: linear-gradient(40deg, #45cafc, #303f9f);
}
#form-header{
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: -30px;
  margin-bottom: 3rem;
}
.card .form-header{
  border-radius: 0.25rem;
}
#card {
    border-radius: 0.25rem;
}
/*}*/
/*#my-section{*/
  /*background-image: url("../../public/img/img1-cpy.webp");*/
  /*background-size: 100% 100%;*/
  /*background-repeat: no-repeat;*/
/*}*/
@media only screen and (max-width: 768px){
  #my-section{
    background-attachment: fixed;
  }
}
#section-description{
  color: black;
}
.fa{
  color: black;
}
.heading{
  color:black;
}
/*.big{
  font-weight: bold;
  font-family: serif;
}*/

.h4{
  font-weight: bold;
}
body{
  margin: 0px auto;
}
