{% extends 'main/base.html' %}
{% block body %}
<div class="row">
    <div class="col-lg-2">
        {% include 'main/mixins/recruiters_mixin.html' with companies=companies %}

    </div>
    <div class="col-lg-10">
        <div class="card">
            <div class="my-card" id="my-card"><span style="font-size: 1.5rem"> &nbsp;Student Achievements</span></div>
            <div class="card-block">
                <p class="card-text">
                    Major achievements of the students are mentioned below:
                    <br>
                <ol>
                    <li>Rank 1 in final event of BETiC Medical Innovation Challenge in Inter IIT Tech Meet 2018.
                    </li>
                    <br>
                    <li>
                        Rank 3 in final event of Campus Sustainability Challenge in Inter IIT Tech Meet 2018.
                    </li>
                    <br>
                    <li>
                        Rank 3 in Coding Hackathon in Inter IIT Tech Meet 2018.
                    </li>
                    <br>
                    <li>
                        One paper got selected for presentation in Student Academic Conference in Inter IIT Tech Meet 2018.
                    </li>
                    <br>

                    <li>Overall Rank 10 in Inter IIT Tech Meet 2018.
                    </li>
                    <br>
                    <li> Contributor and Signatory of Inter IIT Tech Meet Constitution in Tech Board Meet at IIT Bombay.
                    </li>
                    <br>
                    <li>
                        Rank 30 in Regional Round in ACM-ICPC and 3 teams qualified for regional round.
                    </li>
                    <br>

                    <li> Team The DarkSide won as Second Runners up at Microsoft&#39;s AXLE 2019.
                    </li>
                    <br>
                    <li>
                        10 teams participated in Smart India Hackathon(SIH) 2019.
                    </li>
                    <br>
                    <li>Runners-up in Smart India Hackathon 2019 Grand Finale.
                    </li>

                    <br>
                    <li>Rank 2 in Regional Round of CoDecode event of Techfest IIT Bombay 2018.
                    </li>
                    <br>
                    <li> Rank under 10 in final round of CoDecode event of Techfest IIT Bombay 2018.
                    </li>
                    <br>
                    <li>Student Representative at the Student Leadership Conclave, IIT Gandhinagar.
                    </li>
                    <br>
                    <li>Team NETRA successfully qualified for llCDC-2018 quarter final round.
                    </li>
                    <br>
                    <li>Two teams have reached the quarter-finals of India Innovation Challenge Design Contest (Tl-DST).

                    </li>
                    <br>
                    <li> Participated in an international event, Asia Pacific HPVC 2019 and qualified for the final round.
                    </li>
                    <br>
                    <li> Rank 1 in Regional Level Round of Tata Crucible Campus Hackathon 2019.
                    </li>
                    <br>
                    <li> Rank under 16 in Stretch Pull in final event of Asia Pacific HPVC 2019.
                    </li>
                    <br>
                    <li> ASME HPVC overall rank 17 in the final event at VIT,Tamil Nadu.
                    </li>
                </ol>

            </div>
        </div>
        </p>
    </div>
</div>


{% endblock %}