{% extends 'main/base.html' %}
{% block body %}
<div class="col-lg-10">
        <div class="card">
          <div class="card" id="my-card"><span style="font-size: 1.5rem"> &nbsp;AIPC Guidelines </span></div>
            <div class="card-block">
                  <br>
                  <p class="text">Important Guidelines by the AIPC (All IIT's Placement Committee) to the Recruiters</p>
                  <p>In order to have a mutual benefit and to have a long term association, the AIPC has indicated the following guidelines to the recruiters. All the recruiters are requested to run through these to have a smooth placement process.</p>
                  <p class="card-text" >
                    <ol>
                        <li>  <b>PPOs:</b> Since the process for the final placements starts in the month of September, in order to have mutual benefit, the status of the PPOs may be informed by mid-September. This is for students selected for intern through on campus internship hiring process by the recruiters and after successful completion of the internship.</li><br>
                        <li> <b>Key information on the offers made: </b>If a company makes offers during December placement session, the following key information may be provided along with the offer letter
                          <ul>
                            <li>The details on the salary structure (take to home) based on the CTC criteria</li>
                            <li>Joining location </li>
                            <li>Date of Joining</li>
                            <li>The offer letters may be provided by the end of March every year so that the candidate can better prepare to join the company.</li>
                          </ul>
                        </li>
                        <br>

                        <li> <b>Direct offers:</b> In case of direct offers to the student, a copy is sent to the concerned Placement/CDC/CCD office.</li><br>

                        <li> <b>Deviated offer date:</b> In case of any deviations or not being able to send the offers by the end of March, suitable information with relevant reason may be informed to the concerned Placement/CDC/CCD Office.</li><br>

                        <li> <b>Students with backlogs:</b> If a company does not accept students with
                        arrears/backlogs, it would help to avoid complications if the same is intimated
                        in advance (at the time of registration).</li><br>

                        <li><b> Requirement on bond:</b> If the policy of a company requires signing a
                        bond as part of the joining, it would be better to specify clearly at the time of
                        registration (on the registration portal).</li></br>

                        <li><b>Time durations:</b> The maximum time for any pre-assessment test (online or off-line) is 90 minutes. Under certain exceptional cases another 30 minutes may be considered. Since, the deadlines during the final placements are very close with a sequence of companies scheduled, the process will remain smooth if a company completes the personal interview process within 6 hours during December hiring. It is also decided that the time per personal interview per candidate per company should not be more than 60 minutes.</li><br>

                        <li> <b>Major deviations:</b> In case of deferred joining date, change in the
                        package and/or profile and withdrawing offers, the same is to be intimated to
                        the concerned Placement/CDC/CCD Office while indicating suitable
                        justification for such a decision. This may be intimated to
                        Placement/CDC/CCD Office before informing the candidate.</li><br>

                        <li> <b>Representation during the Pre-assessment tests:</b> In order to have
                        mutual benefit, it would be better that at least one representative from the
                        company is present on the campus during the pre-assessment tests that are
                        being conducted before 1st December.</li><br>

                        <li> <b>Medical tests and Visa:</b> Regarding medical tests and visa delay
                        issues, it will be beneficial that the recruiter informs students in advance
                        through Placement/CDC/CCD office. Also any compensation for the extreme
                        delay should be indicated to the candidates and beyond certain time period (say
                        two-three months) if there is any compensation, it should be mentioned.</li><br>
                    </ol>
                  </p>

                <br><br>


            </div>
        </div>
      </div>
    </div>


{% endblock %}
