{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    {% block header %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
    <link href="{% static '/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static '/css/mdb.min.css' %}" rel="stylesheet">
    <link href="{% static '/css/style.css' %} " rel="stylesheet">
    <link rel="icon" href="{% static 'img/iitj.png' %}">

    <title>Office of Student Placements, IIT Jodhpur</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    {% endblock %}
</head>
<body>
<!---
    <div class="main-heading">
        <div class="row">
            <div class="col-md-12">
                <div class="media">
                    <a class="thumbnail pull-left">
                        &nbsp &nbsp
                        <img src="{% static '/img/logo2.png' %}" alt="IIT Jodhpur" class="logo">
                    </a>
                    <div class="media-body pt-1 pl-3">
                        <div class="pull-right py-1">
                            <div class="login-block">
                                <a class="my-auto" href="{% url 'login' %}">Recruiter Login</a>
                            </div>
                            <div class="login-block">
                                <a class="my-auto" href="{% url 'login' %}">Student Login</a>
                            </div>
                        </div>
                        <h2 class="heading">
                            <a href="http://spc.iitj.ac.in/">
                                Office of Student Placements
                            </a>
                        </h2>
                        <h4 class="heading">Indian Institute of Technology Jodhpur</h4>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    --->
    {% block navbar %}

    <nav class="navbar navbar-expand-lg navbar-toggleable-md navbar-dark sticky-top">
        <div class="container-fluid" style="width: 100%">
            <div class="row">
             <div class="col-md-12">
                <div class="media">
                    <a class="navbar-brand" href="/">

                        <img src="{% static '/img/logo.gif' %}" alt="IIT Jodhpur" class="logo">
                    </a>

                    <div class="media-body pt-1 pl-3">
                        <div class="pull-right py-1">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapseEx12"
                    aria-controls="collapseEx12" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="collapseEx12">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item btn-group hoverable">
                        <a class="nav-link dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">Home</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <a class="dropdown-item" href="{% url 'main:home' %}">About Us</a>
                            <a class="dropdown-item" href="{% url 'main:invitation' %}">Invitation</a>
                            <a class="dropdown-item" href="{% url 'main:chairman_msg' %}">Chairman's Message</a>
                            <a class="dropdown-item" href="{% url 'main:dir_msg' %}">Director's Message</a>
                        </div>
                    </li>
                    <li class="nav-item btn-group hoverable">
                        <a class="nav-link dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">Academics</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <a class="dropdown-item" href="{% url 'main:gradesystem' %}">Gradesystem</a>
                            <a class="dropdown-item" href="{% url 'main:programs' %}">Programmes</a>
                            <a class="dropdown-item" href="{% url 'main:admissions' %}">Admission Procedure</a>
                        </div>
                    </li>
                    <li class="nav-item btn-group hoverable">
                        <a class="nav-link dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">Students</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <a class="dropdown-item" href="{% url 'main:achievements' %}">Achievements</a>
                            <a class="dropdown-item" href="{% url 'main:profile' %}">Prospective</a>
                            <!-- <a class="dropdown-item" href="{% url 'main:alumni' %}">Alumni's Words</a> -->
                            <a class="dropdown-item" href="{% url 'main:student_rules' %}">Norms/Guidelines</a>
                            <a class="dropdown-item" href="{% url 'main:internships' %}">Internships</a>
                        </div>
                    </li>
                    <li class="nav-item btn-group hoverable">
                        <a class="nav-link dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">Recruiter</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <a class="dropdown-item" href="{% url 'main:why-recruit' %}">Why Recruit?</a>
                            <a class="dropdown-item" href="{% url 'main:brochure' %}">Brochure</a>
                            <a class="dropdown-item" href="{% url 'main:summary' %}">Placement Statistics</a>
                            <a class="dropdown-item" href="{% url 'main:placementProcedure' %}">Placement Procedure</a>
                            <a class="dropdown-item" href="{% url 'main:company_rules' %}">Norms/Guidelines</a>
                            <a class="dropdown-item" href="{% url 'main:past_recruiters' %}">Past Recruiters</a>
                            <a class="dropdown-item" href="{% url 'main:aipc' %}">AIPC Norms</a>
                        </div>
                    </li>
                    <li class="nav-item btn-group hoverable">
                        <a class="nav-link dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">Forms</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <a class="dropdown-item" href="{% url 'main:jaf' %}">JAF</a>
                            <a class="dropdown-item" href="{% url 'main:iaf' %}">IAF</a>

                        </div>
                    </li>
                    <li class="nav-item btn-group hoverable">
                        <a class="nav-link dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">Contact Us</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <a class="dropdown-item" href="{% url 'main:contacts' %}">Contacts</a>
                            <a class="dropdown-item" href="{% url 'main:reachus' %}">Reach Us</a>
                        </div>
                    </li>
                    <li class="nav-item btn-group hoverable">
                        <a class="nav-link dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">Login</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <a class="dropdown-item" href="{% url 'login' %}">Recruiter Login</a>
                            <a class="dropdown-item" href="{% url 'login' %}">Student Login</a>
                        </div>
                    </li>

                </ul>

            </div>
                        </div>
                        <h2 class="heading">
                            <a href="http://spc.iitj.ac.in/">
                                Office of Student Placements
                            </a>
                        </h2>
                        <h4 class="heading" style="color: white">Indian Institute of Technology Jodhpur</h4>

                    </div>
                </div>
            </div>

            </div>
         </div>

    </nav>
    <br>




        {% endblock %}
        {% block body %}

        {% endblock %}

    </div>

    {% block footer %}
    <br>
    <footer class="footer-basic-centered">
        <p class="footer-logos">
            <a href="https://www.facebook.com/SPC.IITJ/" target="_blank">
                <i style="color: white" class="fa fa-facebook"></i>
            </a>
            <a href="https://www.linkedin.com/in/office-of-student-placements-iit-jodhpur-62a31352/" target="_blank">
                <i style="color: white" class="fa fa-linkedin"></i>
            </a>
            <a href="https://github.com/anshulahuja98/spc_portal" target="_blank">
                <i style="color: white" class="fa fa-github"></i>
            </a>
        </p>
        <p class="footer-company-name">Designed & Maintained by Office of Student Placements, IIT Jodhpur</p>

    </footer>
    <script type="text/javascript" src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="{% static '/js/tether.min.js' %}"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="{% static '/js/bootstrap.min.js' %}"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="{% static '/js/mdb.min.js' %}"></script>

    {% endblock %}
</div>
</div>
</body>
</html>