{% extends 'main/base.html' %}
{% load staticfiles %}
{% load static %}
{% block body %}

<div class="body-header text-center text-black"><span style="font-size: 1.5rem"><i class="fa fa-bars"></i></span><span
        style="font-size: 1.75rem"> &nbsp; CHAIRMAN </span></div>

<hr style="width: 25rem;">
<div class="row" style="margin-left: 0.15rem; margin-right: 0.15rem">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" style="margin: auto;margin-bottom: 2.5rem;">
        <div class="card border-dark mb-3">
            <div class="card text-center " style="margin-right: 0rem; margin-left: 0rem;">
                <div class="card-header" style="font-size: 1.15rem; background-color: #f5f5f5; "><i
                ></i> &nbsp;
                    <div class="card-body" style="background-color: white">
                        <div class="card-body" style="background-color: white">
                            <img src={% static "img/contacts/sandipmurarka.jpg" %} alt="Prof. Sandip Murarka"
                            style="height: 12rem; width: 10rem; margin: auto; margin-top: 0.5rem; margin-bottom:
                            0.5rem;border-radius: 0.25rem">
                        </div>
                        <div class="card-footer text-muted" style="background-color: #f5f5f5">
                            <span style="color: black; font-size: 1.35rem"><b>Prof. Sandip Murarka</b></span>
                            <br>
                            <p class="text-left">
                            <table>
                                <tr>
                                    <td align="left">&nbsp;
                                        <span style="color: black"><i
                                                class="fa fa-envelope"></i>chair_osp@iitj.ac.in</span>

                                    </td>
                                </tr>
                            </table>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<br>
<hr style="width: 25rem;">

<div class="body-header text-center text-black"><span style="font-size: 1.5rem"><i class="fa fa-bars"></i></span><span
        style="font-size: 1.75rem"> &nbsp;CONVENER </span></div>

<hr style="width: 25rem;">
<div class="row" style="margin-left: 0.15rem; margin-right: 0.15rem">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" style="margin: auto;margin-bottom: 2.5rem;">
        <div class="card border-dark mb-3">
            <div class="card text-center " style="margin-right: 0rem; margin-left: 0rem;">
                <div class="card-header" style="font-size: 1.15rem; background-color: #f5f5f5; "><i
                ></i> &nbsp;
                    <div class="card-body" style="background-color: white">
                        <div class="card-body" style="background-color: white">
                            <img src={% static "img/c3-team/abir.jpg" %}
                            style="height: 12rem; width: 10rem; margin: auto; margin-top: 0.5rem; margin-bottom:
                            0.5rem;border-radius: 0.25rem">
                        </div>
                        <div class="card-footer text-muted" style="background-color: #f5f5f5">
                            <span style="color: black; font-size: 1.35rem"><b>Abir Bhattacharyya</b></span>
                            <br>
                            <p class="text-left">
                            <table>
                                <tr>
                                    <td align="left">&nbsp;
                                        <span style="color: black"><i
                                                class="fa fa-envelope"></i>abir@iitj.ac.in</span>

                                    </td>
                                </tr>
                            </table>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<br>
<hr style="width: 25rem;">

<div class="body-header text-center text-black"><span style="font-size: 1.5rem"><i class="fa fa-bars"></i></span><span
        style="font-size: 1.75rem"> &nbsp; MEMBERS </span></div>

<hr style="width: 25rem;">
<div class="row" style="margin-left: 0.15rem; margin-right: 0.15rem">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" style="margin: auto;margin-bottom: 2.5rem;">
        <div class="card border-dark mb-3">
            <div class="card text-center " style="margin-right: 0rem; margin-left: 0rem;">
                <div class="card-header" style="font-size: 1.15rem; background-color: #f5f5f5; "><i
                ></i> &nbsp;
                    <div class="card-body" style="background-color: white">
                        <div class="card-body" style="background-color: white">
                            <img src={% static "img/c3-team/shaman.jpg" %} "
                            style="height: 12rem; width: 10rem; margin: auto; margin-top: 0.5rem; margin-bottom:
                            0.5rem;border-radius: 0.25rem">
                        </div>
                        <div class="card-footer text-muted" style="background-color: #f5f5f5">
                            <span style="color: black; font-size: 1.35rem"><b>Shankar Manoharan

</b></span>
                            <br>
                            <p class="text-left">
                            <table>
                                <tr>
                                    <td align="left">&nbsp;
                                        <span style="color: black"><i
                                                class="fa fa-envelope"></i>shankarmanoharan@iitj.ac.in</span>

                                    </td>
                                </tr>
                            </table>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" style="margin: auto;margin-bottom: 2.5rem;">
        <div class="card border-dark mb-3">
            <div class="card text-center " style="margin-right: 0rem; margin-left: 0rem;">
                <div class="card-header" style="font-size: 1.15rem; background-color: #f5f5f5; "><i
                ></i> &nbsp;
                    <div class="card-body" style="background-color: white">
                        <div class="card-body" style="background-color: white">
                            <img src={% static "img/c3-team/blank.png" %}
                            style="height: 12rem; width: 10rem; margin: auto; margin-top: 0.5rem; margin-bottom:
                            0.5rem;border-radius: 0.25rem">
                        </div>
                        <div class="card-footer text-muted" style="background-color: #f5f5f5">
                            <span style="color: black; font-size: 1.35rem"><b>Debasis Das

</b></span>
                            <br>
                            <p class="text-left">
                            <table>
                                <tr>
                                    <td align="left">&nbsp;
                                        <span style="color: black"><i
                                                class="fa fa-envelope"></i>debasis@iitj.ac.in</span>

                                    </td>
                                </tr>
                            </table>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" style="margin: auto;margin-bottom: 2.5rem;">
        <div class="card border-dark mb-3">
            <div class="card text-center " style="margin-right: 0rem; margin-left: 0rem;">
                <div class="card-header" style="font-size: 1.15rem; background-color: #f5f5f5; "><i
                ></i> &nbsp;
                    <div class="card-body" style="background-color: white">
                        <div class="card-body" style="background-color: white">
                            <img src={% static "img/c3-team/ashma.png" %}
                            style="height: 12rem; width: 10rem; margin: auto; margin-top: 0.5rem; margin-bottom:
                            0.5rem;border-radius: 0.25rem">
                        </div>
                        <div class="card-footer text-muted" style="background-color: #f5f5f5">
                            <span style="color: black; font-size: 1.35rem"><b>Aashish Mathur

</b></span>
                            <br>
                            <p class="text-left">
                            <table>
                                <tr>
                                    <td align="left">&nbsp;
                                        <span style="color: black"><i
                                                class="fa fa-envelope"></i>
aashishmathur@iitj.ac.in</span>

                                    </td>
                                </tr>
                            </table>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" style="margin: auto;margin-bottom: 2.5rem;">
        <div class="card border-dark mb-3">
            <div class="card text-center " style="margin-right: 0rem; margin-left: 0rem;">
                <div class="card-header" style="font-size: 1.15rem; background-color: #f5f5f5; "><i
                ></i> &nbsp;
                    <div class="card-body" style="background-color: white">
                        <div class="card-body" style="background-color: white">
                            <img src={% static "img/c3-team/blank.png" %}
                            style="height: 12rem; width: 10rem; margin: auto; margin-top: 0.5rem; margin-bottom:
                            0.5rem;border-radius: 0.25rem">
                        </div>
                        <div class="card-footer text-muted" style="background-color: #f5f5f5">
                            <span style="color: black; font-size: 1.35rem"><b>Parichay Patra

</b></span>
                            <br>
                            <p class="text-left">
                            <table>
                                <tr>
                                    <td align="left">&nbsp;
                                        <span style="color: black"><i
                                                class="fa fa-envelope"></i>parichay@iitj.ac.in</span>

                                    </td>
                                </tr>
                            </table>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" style="margin: auto;margin-bottom: 2.5rem;">
        <div class="card border-dark mb-3">
            <div class="card text-center " style="margin-right: 0rem; margin-left: 0rem;">
                <div class="card-header" style="font-size: 1.15rem; background-color: #f5f5f5; "><i
                ></i> &nbsp;
                    <div class="card-body" style="background-color: white">
                        <div class="card-body" style="background-color: white">
                            <img src={% static "img/c3-team/nkhazra.jpeg" %}
                            style="height: 12rem; width: 10rem; margin: auto; margin-top: 0.5rem; margin-bottom:
                            0.5rem;border-radius: 0.25rem">
                        </div>
                        <div class="card-footer text-muted" style="background-color: #f5f5f5">
                            <span style="color: black; font-size: 1.35rem"><b>Nil Kamal Hazra</b></span>
                            <br>
                            <p class="text-left">
                            <table>
                                <tr>
                                    <td align="left">&nbsp;
                                        <span style="color: black"><i
                                                class="fa fa-envelope"></i>nilkamal@iitj.ac.in

</span>

                                    </td>
                                </tr>
                            </table>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" style="margin: auto;margin-bottom: 2.5rem;">
        <div class="card border-dark mb-3">
            <div class="card text-center " style="margin-right: 0rem; margin-left: 0rem;">
                <div class="card-header" style="font-size: 1.15rem; background-color: #f5f5f5; "><i
                ></i> &nbsp;
                    <div class="card-body" style="background-color: white">
                        <div class="card-body" style="background-color: white">
                            <img src={% static "img/c3-team/blank.png" %}
                            style="height: 12rem; width: 10rem; margin: auto; margin-top: 0.5rem; margin-bottom:
                            0.5rem;border-radius: 0.25rem">
                        </div>
                        <div class="card-footer text-muted" style="background-color: #f5f5f5">
                            <span style="color: black; font-size: 1.35rem"><b>Shrutidhara Sarma

</b></span>
                            <br>
                            <p class="text-left">
                            <table>
                                <tr>
                                    <td align="left">&nbsp;
                                        <span style="color: black"><i
                                                class="fa fa-envelope"></i>
shrutidhara@iitj.ac.in</span>

                                    </td>
                                </tr>
                            </table>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" style="margin: auto;margin-bottom: 2.5rem;">
        <div class="card border-dark mb-3">
            <div class="card text-center " style="margin-right: 0rem; margin-left: 0rem;">
                <div class="card-header" style="font-size: 1.15rem; background-color: #f5f5f5; "><i
                ></i> &nbsp;
                    <div class="card-body" style="background-color: white">
                        <div class="card-body" style="background-color: white">
                            <img src={% static "img/c3-team/blank.png" %}
                            style="height: 12rem; width: 10rem; margin: auto; margin-top: 0.5rem; margin-bottom:
                            0.5rem;border-radius: 0.25rem">
                        </div>
                        <div class="card-footer text-muted" style="background-color: #f5f5f5">
                            <span style="color: black; font-size: 1.35rem"><b>Subrata Chakraborty

</b></span>
                            <br>
                            <p class="text-left">
                            <table>
                                <tr>
                                    <td align="left">&nbsp;
                                        <span style="color: black"><i
                                                class="fa fa-envelope"></i>
subrata@iitj.ac.in</span>

                                    </td>
                                </tr>
                            </table>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" style="margin: auto;margin-bottom: 2.5rem;">
        <div class="card border-dark mb-3">
            <div class="card text-center " style="margin-right: 0rem; margin-left: 0rem;">
                <div class="card-header" style="font-size: 1.15rem; background-color: #f5f5f5; "><i
                ></i> &nbsp;
                    <div class="card-body" style="background-color: white">
                        <div class="card-body" style="background-color: white">
                            <img src={% static "img/c3-team/balu1.jpg" %} alt="Prof. Sandip Murarka"
                            style="height: 12rem; width: 10rem; margin: auto; margin-top: 0.5rem; margin-bottom:
                            0.5rem;border-radius: 0.25rem">
                        </div>
                        <div class="card-footer text-muted" style="background-color: #f5f5f5">
                            <span style="color: black; font-size: 1.35rem"><b>B M Krishna Mariserla

</b></span>
                            <br>
                            <p class="text-left">
                            <table>
                                <tr>
                                    <td align="left">&nbsp;
                                        <span style="color: black"><i
                                                class="fa fa-envelope"></i>bmkrishna@iitj.ac.in</span>

                                    </td>
                                </tr>
                            </table>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<hr style="width: 25rem;">


{% endblock %}