{% extends 'main/base.html' %}
{% load staticfiles %}
{% block body %}
    <div class="col-lg-10">
        <div class="card">
            <div class="card" id="my-card"><span style="font-size: 1.5rem"> &nbsp; Chairman's Message</span></div>
            <div class="card-block">
                <p class="card-text">
                <p class="card-text" style="text-align:justify">
                    &nbsp;&nbsp;&nbsp;IIT Jodhpur promotes technological innovation and ensures to prepare competent technology
                    graduates who are well equipped to handle the challenges of the nation in the 21st century.
                    IIT Jodhpur’s curriculum is designed to provide students a unique blend of strong technical
                    knowledge, personality development skills and leadership qualities so that they evolve as complete
                    well-rounded individuals. We have revamped our Placement section to Student Career Development Center
                    (SCDC) with the objective to make every IITJ student a career oriented individual not a job oriented
                    person. With this new initiative SCDC ensures an encouraging atmosphere for students by providing
                    them ample opportunities to build competencies in sync with dream careers through various career
                    development activities. We are providing several services and resources that assist students in
                    their ongoing effort of competence mapping, career planning and employer searching. The prime goal
                    of SCDC is to encourage students to adhere to positive attitude, discipline and perseverance and
                    to prepare them for their future in a best possible way.
                    <br><br>
                    &nbsp;&nbsp;&nbsp; I would like to sum up by thanking our prestigious recruiters who have been the major reason
                    for our constant growth and also cordially invite you all in our brand new campus with latest
                    state-of-the-art facilities for the upcoming placement season 2018-19. We also encourage companies
                    to share their requirements in different facets of industrial problems and engage in the mutual
                    exploration of opportunities with regard to association with academic experts in cutting-edge
                    projects, internship deals, etc. I am hoping that this interaction will lead to a fruitful and
                    long lasting relationship with the companies which eventually will translate into the betterment
                    of student community at IIT Jodhpur.
                    <br><br>
                    &nbsp;&nbsp;&nbsp;Thank You!!
                <br>
                <div align="right">
                <img src="{% static 'img/contacts/sandipmurarka.jpg' %}" alt="" style="width: 12rem;height: 12rem; border-radius: 0.75rem;">
                </div>
                <br>
                <p style="text-align:right;font-size: 1.15rem;"><b>Prof. Sandip Murarka</b><br>Chairman<br>Office of Student Placements<br>Indian Institute of Technology Jodhpur</p>
                </p>
            </div>
        </div>
        </p>
    </div>
    </div>
    </div>
    <div class="col-lg-1">
    </div>
    </div>
{% endblock %}
