{% extends 'main/base.html' %}
{% load staticfiles %}
{% block body %}
</div>

<div class="row" style="margin-top: 0rem">
    <div class="col-lg-1"></div>
    <div class="col-lg-6">
        <h4><b>Indian Institute of Technology Jodhpur</b></h4>NH 65 Nagaur Road<br>Karwar 342037<br>Jodhpur
        District<br><br>
    </div>
    <div class="col-lg-5"><b>Contact: </b><br><i class="fa fa-phone"></i>&nbsp; +91 291 2801154 </span><br><i
            class="fa fa-phone"></i>&nbsp; +91 291 2801153 </span><br><i class="fa fa-envelope"></i>&nbsp;
        placement@iitj.ac.in</span><br></div>
</div>

    <div class="body-header text-center text-black"><span style="font-size: 1.5rem"><i class="fa fa-bars"></i></span><span
            style="font-size: 1.75rem"> &nbsp; PLACEMENT TEAM </span></div>
    <hr style="width: 25rem;">
<div class="row">
    {% for contact in contacts %}
        {% if contact.designation == '1' or contact.designation == '2' or  contact.designation == '3'%}    
            {% include 'main/mixins/contact_card_mixin.html' %}
        {% endif %}
    {% endfor %}
</div>
<br>
<hr style="width: 25rem;">
    <div class="row">
        {% for contact in contacts %}
            {% if  contact.designation == '4' %}    
                {% include 'main/mixins/contact_card_mixin.html' %}
            {% endif %}
        {% endfor %}
    </div>
    <br>
    <hr style="width: 25rem;">
    <div class="row">
            {% for contact in contacts %}
                {% if contact.designation == '5'%}    
                    {% include 'main/mixins/contact_card_mixin.html' %}
                {% endif %}
            {% endfor %}
    </div>
        
<div class="body-header text-center text-black"><span style="font-size: 1.5rem"><i class="fa fa-bars"></i></span><span
        style="font-size: 1.75rem"> &nbsp; CORE TEAM MEMBERS</span></div>
<hr style="width: 25rem;">

<div class="row " >
    
    {% for contact in contacts %}
        {% if contact.designation == '6'  %}
            {% include 'main/mixins/contact_card_mixin.html' %}
        {% endif %}
    {% endfor %}
</div>
    <br>    
    <div class="body-header text-center text-black"><span style="font-size: 1.5rem"><i class="fa fa-bars"></i></span><span
            style="font-size: 1.75rem"> &nbsp; WEB DEVELOPMENT TEAM</span></div>
    <hr style="width: 25rem;">
<div class="row">
{% for contact in contacts %}
    {% if contact.designation == '7'  %}
        {% include 'main/mixins/contact_card_mixin.html' %}
    {% endif %}
{%endfor%}
</div>
    <br>
    <div class="body-header text-center text-black"><span style="font-size: 1.5rem"><i class="fa fa-bars"></i></span><span
            style="font-size: 1.75rem"> &nbsp; Volunteers</span></div>
    <hr style="width: 25rem;">
    <div class="row">
        <div class="col-lg-6" align="center" style="font-size: 1.2rem">
            <b> Sophomore Year Undergrads</b>
            <br>
            {% for volunteer in volunteers %}
                {% if volunteer.year == '1'  %}        
                      {{volunteer.name}}({{volunteer.program_branch}}) <br>
                {% endif %}
            {% endfor %}
        </div>
        <div class="col-lg-6" align="center" style="font-size: 1.2rem">
            <b> Post Graduation</b>
            <br>
            {% for volunteer in volunteers %}
                {% if volunteer.year == '2'  %}        
                    {{volunteer.name}}({{volunteer.program_branch}}) <br>
                {% endif %}
            {% endfor %}
        </div>
    <div class="row">
    </div>
    <br>
{% endblock %}