{% extends 'main/base.html' %}
{% load staticfiles %}
{% block body %}
    </div>
    <div class="row" style="margin-top: -3rem">
        <div class="col-lg-1"></div>
        <div class="col-lg-6">
            <h4><b>Indian Institute of Technology Jodhpur</b></h4>NH 65 Nagaur Road<br>Karwar 342037<br>Jodhpur District<br><br>
        </div>
        <div class="col-lg-5"><b>Contact: </b><br><i class="fa fa-phone"></i>&nbsp; +91 291 2801154 </span><br><i
                class="fa fa-phone"></i>&nbsp; +91 291 2801153 </span><br><i class="fa fa-envelope"></i>&nbsp;
            placement@iitj.ac.in</span><br></div>
    </div>
    <div class="body-header text-center text-black"><span style="font-size: 1.5rem"><i
            class="fa fa-bars"></i></span><span style="font-size: 1.75rem"> &nbsp; PLACEMENT TEAM </span></div>
    <hr style="width: 25rem;">
    <div class="row">
        <div class="col-lg-2.5" style="margin: auto;margin-bottom: 1.5rem;">
            <div class="card text-center">
                <div class="card-header" style="font-size: 1.15rem"><i class="fa fa-star-o"></i> &nbsp;
                    <b>Chairman</b><br> Office of Student Placements
                </div>
                <div class="card-body">
                    <img src="{% static 'img/contacts/sandipmurarka.jpg' %}" alt="Prof. Sandip Murarka"
                         style="height: 12rem; width: 10rem; margin: auto; margin-top: 0.5rem; margin-bottom: 0.5rem;border-radius: 0.5rem">
                </div>
                <div class="card-footer text-muted">
                    <span style="color: black; font-size: 1.35rem"><b>Prof. Sandip Murarka</b></span>
                    <br><br>
                    <p class="text-left"><span style="color: black"><i class="fa fa-envelope"></i>&nbsp; sandipmurarka@iitj.ac.in</span><br>
{#                        <span style="color: black"><i class="fa fa-phone"></i>&nbsp; +91 0291-2801310</span></p>#}
                </div>
            </div>
        </div>
        <div class="col-lg-2.5" style="margin: auto;margin-bottom: 1.5rem;">
            <div class="card text-center">
                <div class="card-header" style="font-size: 1.15rem"><i class="fa fa-star-o"></i> &nbsp; <b>Placement
                    Officer</b><br> Office of Student Placements
                </div>
                <div class="card-body">
                    <img src="{% static 'img/contacts/gurpreetkaur.jpg' %}" alt="Gurpreet Kaur"
                         style="height: 12rem; width: 10rem; margin: auto; margin-top: 0.5rem; margin-bottom: 0.5rem;border-radius: 0.5rem">
                </div>
                <div class="card-footer text-muted">
                    <span style="color: black; font-size: 1.35rem"><b>Gurpreet Kaur</b></span>
                    <br><br>
                    <p class="text-left"><span style="color: black"><i class="fa fa-envelope"></i>&nbsp; gurpreetkaur@iitj.ac.in</span><br>
                        <span style="color: black"><i class="fa fa-phone"></i>&nbsp; +91 0291-2801153 </span></p>
                </div>
            </div>
        </div>
        <div class="col-lg-2.5" style="margin: auto;margin-bottom: 1.5rem;">
            <div class="card text-center">
                <div class="card-header" style="font-size: 1.15rem"><i class="fa fa-star-o"></i> &nbsp;
                    <b>Project Superintendent</b><br> Office of Student Placements
                </div>
                <div class="card-body">
                    <img src="{% static 'img/contacts/harish_meghwani.jpg' %}" alt="Harish Meghwani"
                         style="height: 12rem; width: 10rem; margin: auto; margin-top: 0.5rem; margin-bottom: 0.5rem;border-radius: 0.5rem">
                </div>
                <div class="card-footer text-muted">
                    <span style="color: black; font-size: 1.35rem"><b>Harish Meghwani</b></span>
                    <br><br>
                    <p class="text-left"><span style="color: black"><i class="fa fa-envelope"></i>&nbsp; harish@iitj.ac.in</span><br>
                        <span style="color: black"><i class="fa fa-phone"></i>&nbsp; +91 0291-2801154</span></p>
                </div>
            </div>
        </div>
            </div>
            <br>
            <div class="body-header text-center text-black"><span style="font-size: 1.5rem"><i
                    class="fa fa-bars"></i></span><span style="font-size: 1.75rem"> &nbsp; STUDENT HEADS</span></div>
            <hr style="width: 25rem;">
            <div class="row">

        <div class="col-lg-2.5" style="margin: auto;margin-bottom:1.5rem;">
            <br>
            <div class="card text-center">
                <div class="card-header" style="font-size: 1.15rem"><i class="fa fa-star-o"></i> &nbsp; <b>Student
                    Co-ordinator</b><br> Office of Student Placements
                </div>
                <div class="card-body">
                    <img src="{% static 'img/contacts/Neelansh.JPG' %}" alt="Neelansh Kamboj"
                         style="height: 12rem; width: 10rem; margin: auto; margin-top: 0.5rem; margin-bottom: 0.5rem;border-radius: 0.5rem">
                </div>
                <div class="card-footer text-muted">
                    <span style="color: black; font-size: 1.35rem"><b>Neelansh Kamboj</b></span>
                    <br><br>
                    <p class="text-left"><span style="color: black"><i class="fa fa-envelope"></i>&nbsp; kamboj.1@iitj.ac.in</span><br>
                        <span style="color: black"><i class="fa fa-phone"></i>&nbsp; +91 9588091595</span></p>
                </div>
            </div>
        </div>
        <!--<div class="col-lg-1"></div>-->
        <div class="col-lg-2.5" style="margin: auto;margin-bottom: 1.5rem;">
            <div class="card text-center">
                <div class="card-header" style="font-size: 1.15rem"><i class="fa fa-star-o"></i> &nbsp; <b>Student
                    Co-ordinator</b><br> Office of Student Placements
                </div>
                <div class="card-body">
                    <img src="{% static 'img/contacts/bhargav-resized.png' %}" alt="Bhargav Kansagara"
                         style="height: 12rem; width: 10rem; margin: auto; margin-top: 0.5rem; margin-bottom: 0.5rem;border-radius: 0.5rem">
                </div>
                <div class="card-footer text-muted">
                    <span style="color: black; font-size: 1.35rem"><b>Bhargav Kansagara</b></span>
                    <br><br>
                    <p class="text-left"><span style="color: black"><i class="fa fa-envelope"></i>&nbsp; kansagara.1@iitj.ac.in</span><br>
                        <span style="color: black"><i class="fa fa-phone"></i>&nbsp; +91 7990715094 </span></p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <!--
    <div class="body-header text-center text-black"><span style="font-size: 1.5rem"><i class="fa fa-bars"></i></span><span style="font-size: 1.75rem"> &nbsp; DEPARTMENTWISE HEADS</span></div>
    <hr style="width: 25rem;"> -->
    <div class="row">

        <div class="col-lg-2.5" style="margin: auto;margin-bottom:1.5rem;">
            <br>
            <div class="card text-center" style="width: 17rem;">
                <div class="card-header" style="font-size: 1.15rem"><i class="fa fa-star-o"></i> &nbsp; <b>Department
                    Head</b><br> CSE
                </div>
                <div class="card-body">
                    <img src="{% static 'img/contacts/abhishek_sah.jpeg' %}" alt=""
                         style="height: 12rem; width: 10rem; margin: auto; margin-top: 0.5rem; margin-bottom: 0.5rem;border-radius: 0.5rem">
                </div>
                <div class="card-footer text-muted">
                    <span style="color: black; font-size: 1.35rem"><b>Abhishek Sah</b></span>
                    <br><br>
                    <p class="text-left"><span style="color: black"><i class="fa fa-envelope"></i>&nbsp; sah.1@iitj.ac.in</span><br>
                        <span style="color: black"><i class="fa fa-phone"></i>&nbsp; +91 7357277925</span></p>
                </div>
            </div>
        </div>
        <!--<div class="col-lg-1"></div>-->
        <div class="col-lg-2.5" style="margin: auto;margin-bottom: 1.5rem;">
            <div class="card text-center">
                <div class="card-header" style="font-size: 1.15rem"><i class="fa fa-star-o"></i> &nbsp; <b>Department
                    Head</b><br> EE
                </div>
                <div class="card-body">
                    <img src="{% static 'img/contacts/Shubham.jpeg' %}" alt=""
                         style="height: 12rem; width: 10rem; margin: auto; margin-top: 0.5rem; margin-bottom: 0.5rem;border-radius: 0.5rem">
                </div>
                <div class="card-footer text-muted">
                    <span style="color: black; font-size: 1.35rem"><b>Shubham Bhargava</b></span>
                    <br><br>
                    <p class="text-left"><span style="color: black"><i class="fa fa-envelope"></i>&nbsp; bhargava.1@iitj.ac.in</span><br>
                        <span style="color: black"><i class="fa fa-phone"></i>&nbsp; +91 7073266512 </span></p>
                </div>
            </div>
        </div>
        <div class="col-lg-2.5" style="margin: auto;margin-bottom: 1.5rem;">
            <div class="card text-center">
                <div class="card-header" style="font-size: 1.15rem"><i class="fa fa-star-o"></i> &nbsp; <b>Department
                    Head</b><br> ME
                </div>
                <div class="card-body">
                    <img src="{% static 'img/contacts/Sanket Nakka.jpg' %}" alt=""
                         style="height: 12rem; width: 10rem; margin: auto; margin-top: 0.5rem; margin-bottom: 0.5rem;border-radius: 0.5rem">
                </div>
                <div class="card-footer text-muted">
                    <span style="color: black; font-size: 1.35rem"><b>Sanket Nakka</b></span>
                    <br><br>
                    <p class="text-left"><span style="color: black"><i class="fa fa-envelope"></i>&nbsp; nakka.1@iitj.ac.in</span><br>
                        <span style="color: black"><i class="fa fa-phone"></i>&nbsp; +91 9834386162 </span></p>
                </div>
            </div>
        </div>
    </div>
    <br><!--
<div class="row">

    <div class="col-lg-2.5" style="margin: auto;margin-bottom:1.5rem;">
        <br>
        <div class="card text-center" style="width: 17rem;">
            <div class="card-header" style="font-size: 1.15rem"><i class="fa fa-star-o"></i> &nbsp; <b>Internship Head</b><br> CSE
            </div>
            <div class="card-body">
                <img src="{% static 'img/contacts/blank-person.jpg' %}" alt="" style="height: 12rem; width: 10rem; margin: auto; margin-top: 0.5rem; margin-bottom: 0.5rem;border-radius: 0.5rem">
            </div>
            <div class="card-footer text-muted">
                <span style="color: black; font-size: 1.35rem"><b>Abhishek Sah</b></span>
                <br><br>
                <p class="text-left"><span style="color: black"><i class="fa fa-envelope"></i>&nbsp; sah.1@iitj.ac.in</span><br>
                    <span style="color: black"><i class="fa fa-phone"></i>&nbsp; +91 7357277925</span></p>
            </div>
        </div>
    </div>

    <div class="col-lg-2.5" style="margin: auto;margin-bottom: 1.5rem;">
        <div class="card text-center" style="width: 17rem;">
            <div class="card-header" style="font-size: 1.15rem"><i class="fa fa-star-o"></i> &nbsp; <b>Internship Head</b><br> ME
            </div>
            <div class="card-body">
                <img src="{% static 'img/contacts/blank-person.jpg' %}" alt="" style="height: 12rem; width: 10rem; margin: auto; margin-top: 0.5rem; margin-bottom: 0.5rem;border-radius: 0.5rem">
            </div>
            <div class="card-footer text-muted">
                <span style="color: black; font-size: 1.35rem"><b>Neelansh Kamboj</b></span>
                <br><br>
                <p class="text-left"><span style="color: black"><i class="fa fa-envelope"></i>&nbsp; kamboj.1@iitj.ac.in</span><br>
                    <span style="color: black"><i class="fa fa-phone"></i>&nbsp; +91 9588091595 </span></p>
            </div>
        </div>
    </div>
</div>
<br> -->

    <br>
    <div class="body-header text-center text-black"><span style="font-size: 1.5rem"><i
            class="fa fa-bars"></i></span><span style="font-size: 1.75rem"> &nbsp; CORE TEAM MEMBERS</span></div>
    <hr style="width: 25rem;">
    <div class="row">
        <div class="col-lg-2.5" style="margin: auto;margin-bottom:1.5rem;">
            <br>
            <div class="card text-center">
                <div class="card-header" style="font-size: 1.15rem"><i class="fa fa-star-o"></i> &nbsp; <b>Team
                    Member</b><br> Office of Student Placements
                </div>
                <div class="card-body">
                    <img src="{% static 'img/contacts/rajatBabel.jpg' %}" alt=""
                         style="height: 12rem; width: 10rem; margin: auto; margin-top: 0.5rem; margin-bottom: 0.5rem;border-radius: 0.5rem">
                </div>
                <div class="card-footer text-muted">
                    <span style="color: black; font-size: 1.35rem"><b>Rajat Babel</b></span>
                    <br><br>
                    <p class="text-left"><span style="color: black"><i class="fa fa-envelope"></i>&nbsp; babel.1@iitj.ac.in</span><br>
                        <span style="color: black"><i class="fa fa-phone"></i>&nbsp; +91 9587359971</span></p>
                </div>
            </div>
        </div>
        <div class="col-lg-2.5" style="margin: auto;margin-bottom:1.5rem;">
            <br>
            <div class="card text-center">
                <div class="card-header" style="font-size: 1.15rem"><i class="fa fa-star-o"></i> &nbsp; <b>Team
                    Member</b><br> Office of Student Placements
                </div>
                <div class="card-body">
                    <img src="{% static 'img/contacts/sarthak-desai.jpg' %}" alt=""
                         style="height: 12rem; width: 10rem; margin: auto; margin-top: 0.5rem; margin-bottom: 0.5rem;border-radius: 0.5rem">
                </div>
                <div class="card-footer text-muted">
                    <span style="color: black; font-size: 1.35rem"><b>Sarthak Desai</b></span>
                    <br><br>
                    <p class="text-left"><span style="color: black"><i class="fa fa-envelope"></i>&nbsp; desai.1@iitj.ac.in</span><br>
                        <span style="color: black"><i class="fa fa-phone"></i>&nbsp; +91 9974402874</span></p>
                </div>
            </div>
        </div>
        <div class="col-lg-2.5" style="margin: auto;margin-bottom:1.5rem;">
            <br>
            <div class="card text-center">
                <div class="card-header" style="font-size: 1.15rem"><i class="fa fa-star-o"></i> &nbsp; <b>Team
                    Member</b><br> Office of Student Placements
                </div>
                <div class="card-body">
                    <img src="{% static 'img/contacts/NILESH_TIWARI.jpg' %}" alt=""
                         style="height: 12rem; width: 10rem; margin: auto; margin-top: 0.5rem; margin-bottom: 0.5rem;border-radius: 0.5rem">
                </div>
                <div class="card-footer text-muted">
                    <span style="color: black; font-size: 1.35rem"><b>Nilesh Tiwari</b></span>
                    <br><br>
                    <p class="text-left"><span style="color: black"><i class="fa fa-envelope"></i>&nbsp; tiwari.2@iitj.ac.in</span><br>
                        <span style="color: black"><i class="fa fa-phone"></i>&nbsp; +91 9636606949</span></p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-2.5" style="margin: auto;margin-bottom:1.5rem;">
            <br>
            <div class="card text-center">
                <div class="card-header" style="font-size: 1.15rem"><i class="fa fa-star-o"></i> &nbsp; <b>Team
                    Member</b><br> Office of Student Placements
                </div>
                <div class="card-body">
                    <img src="{% static 'img/contacts/Ankit Jangir.jpg' %}" alt=""
                         style="height: 12rem; width: 10rem; margin: auto; margin-top: 0.5rem; margin-bottom: 0.5rem;border-radius: 0.5rem">
                </div>
                <div class="card-footer text-muted">
                    <span style="color: black; font-size: 1.35rem"><b>Ankit Jangir</b></span>
                    <br><br>
                    <p class="text-left"><span style="color: black"><i class="fa fa-envelope"></i>&nbsp; jangir.2@iitj.ac.in</span><br>
                        <span style="color: black"><i class="fa fa-phone"></i>&nbsp; +91 9694344841</span></p>
                </div>
            </div>
        </div>
        <div class="col-lg-2.5" style="margin: auto;margin-bottom:1.5rem;">
            <br>
            <div class="card text-center">
                <div class="card-header" style="font-size: 1.15rem"><i class="fa fa-star-o"></i> &nbsp; <b>Team
                    Member</b><br> Office of Student Placements
                </div>
                <div class="card-body">
                    <img src="{% static 'img/contacts/Divyanshu_Goyal.jpg' %}" alt=""
                         style="height: 12rem; width: 10rem; margin: auto; margin-top: 0.5rem; margin-bottom: 0.5rem;border-radius: 0.5rem">
                </div>
                <div class="card-footer text-muted">
                    <span style="color: black; font-size: 1.35rem"><b>Divyanshu Goyal</b></span>
                    <br><br>
                    <p class="text-left"><span style="color: black"><i class="fa fa-envelope"></i>&nbsp; goyal.4@iitj.ac.in</span><br>
                        <span style="color: black"><i class="fa fa-phone"></i>&nbsp; +91 8955797898</span></p>
                </div>
            </div>
        </div>
    <div class="col-lg-2.5" style="margin: auto;margin-bottom:1.5rem;">
            <br>
            <div class="card text-center">
                <div class="card-header" style="font-size: 1.15rem"><i class="fa fa-star-o"></i> &nbsp; <b>Team
                    Member</b><br> Office of Student Placements
                </div>
                <div class="card-body">
                    <img src="{% static 'img/contacts/Kishan_Sharma-re.JPG' %}" alt=""
                         style="height: 12rem; width: 10rem; margin: auto; margin-top: 0.5rem; margin-bottom: 0.5rem;border-radius: 0.5rem">
                </div>
                <div class="card-footer text-muted">
                    <span style="color: black; font-size: 1.35rem"><b>Kishan Sharma</b></span>
                    <br><br>
                    <p class="text-left"><span style="color: black"><i class="fa fa-envelope"></i>&nbsp; sharma.7@iitj.ac.in</span><br>
                        <span style="color: black"><i class="fa fa-phone"></i>&nbsp; +91 9521202150</span></p>
                </div>
            </div>
        </div>
    </div>
    <div class="body-header text-center text-black"><span style="font-size: 1.5rem"><i
            class="fa fa-bars"></i></span><span style="font-size: 1.75rem"> &nbsp; WEB DEVELOPMENT TEAM</span></div>
    <hr style="width: 25rem;">
    <div class="row">

        <div class="col-lg-2.5" style="margin: auto;margin-bottom:1.5rem;">
            <br>
            <div class="card text-center">
                <div class="card-header" style="font-size: 1.15rem"><i class="fa fa-star-o"></i> &nbsp; <b>Web
                    Development team</b><br> Head
                </div>
                <div class="card-body">
                    <img src="{% static 'img/contacts/anshul-ahuja.jpeg' %}" alt=""
                         style="height: 12rem; width: 10rem; margin: auto; margin-top: 0.5rem; margin-bottom: 0.5rem;border-radius: 0.5rem">
                </div>
                <div class="card-footer text-muted">
                    <span style="color: black; font-size: 1.35rem"><b>Anshul Ahuja</b></span>
                    <br>

                    <p class="text-left">

                        <span style="color: black"><i class="fa fa-envelope"></i>&nbsp; ahuja.2@iitj.ac.in</span><br>
                        <span style="color: black"><i class="fa fa-phone"></i>&nbsp; +91 9873481338</span><br>
                        <span style="color: black"><a href="https://github.com/anshulahuja98" target="_blank"> <i
                                class="fa fa-github" style="font-size: 1.5rem;"></i>&nbsp; github@anshulahuja98</a></span>

                    </p>
                </div>
            </div>
        </div>
        <!--<div class="col-lg-1"></div>-->
        <div class="col-lg-2.5" style="margin: auto;margin-bottom: 1.5rem;">
            <div class="card text-center">
                <div class="card-header" style="font-size: 1.15rem"><i class="fa fa-star-o"></i> &nbsp; <b>Web
                    Development team</b><br> Member
                </div>
                <div class="card-body">
                    <img src="{% static 'img/contacts/karan modh.jpg' %}" alt=""
                         style="height: 12rem; width: 10rem; margin: auto; margin-top: 0.5rem; margin-bottom: 0.5rem;border-radius: 0.5rem">
                </div>
                <div class="card-footer text-muted">
                    <span style="color: black; font-size: 1.35rem"><b>Karan Modh</b></span>
                    <br><br>
                    <p class="text-left"><span style="color: black"><i class="fa fa-envelope"></i>&nbsp; modh.1@iitj.ac.in</span><br>
                        <span style="color: black"><i class="fa fa-phone"></i>&nbsp; +91 9427889085 </span></p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="body-header text-center text-black"><span style="font-size: 1.5rem"><i
            class="fa fa-bars"></i></span><span style="font-size: 1.75rem"> &nbsp; Volunteers</span></div>
    <hr style="width: 25rem;">
    <div class="row">
        <div class="col-lg-6" align="center" style="font-size: 1.2rem">
            <b> Sophomore Year Undergrads</b>
            <br>
            Mayank Raj (CSE)<br>
            Harsh Kooshal Gandhi (EE) <br>
            Harshit Sharma (EE) <br>
            Shreyas Mahajan (CSE) <br>
            Bhanu Prakash (CSE) <br>
            Mohammad Umair Anis (CSE)<br>
            Vinay Devadiga (CSE)<br>
            Shubhankar Gaikwad (CSE)<br>
            Deesha Chavan(CSE) <br>
            Akarsh Kumar (ME)<br>
            Shivam Goel (ME)<br>
            Dhruv Krishna (ME)<br>
        </div>
        <div class="col-lg-6" align="center" style="font-size: 1.2rem">
            <b> Post Graduation</b>
            <br>
            Amigyanshu De (BSBE) <br>
            Dhurmil Soni (ME MTech) <br>
            Akshay Goel (ME MTech) <br>
            Gulshan Sihag (MSc Maths)<br>
        </div>
        <div class="row">
        </div>
        <br>
{% endblock %}