{% extends 'main/base.html' %}
{% block body %}
    <div class="col-lg-10">
        <div class="card">
            <div class="card" id="my-card"><span style="font-size: 1.5rem"> &nbsp; Director's Message</span></div>
            <div class="card-block">
                <p class="card-text">
                <p class="card-text" style="text-align:justify">
                    &nbsp;&nbsp;&nbsp;IIT Jodhpur is dedicated to promote technology thought and action. IIT Jodhpur is
                    making live improvements
                    in its degree programs – especially in curriculum and laboratory. The Institute is making conscious
                    efforts towards preparing the needed
                    competent technical human resources, who will help meet the technology challenges of the nation.
                    Specifically, the Institute
                    is launching a major move towards holistic development of its Students. Competence involves three
                    facets – positive Attitude,
                    needed Skills and deep Knowledge. While the academic degree programs target the latter two facets,
                    an extra and special effort
                    is needed for improving the Attitude; this is the new challenge of the Institute. Therefore, the
                    current focus of the Institute
                    on Student Placements is being changed to one on Student Career Development; the five tracks of work
                    of this new office will
                    be: (1) Career Planning, (2) Soft-skill Enhancement, (3) Placement Process, (4) Industry Relations,
                    and (5) Alumni Engagement.
                    With this renewed focus, the Institute will work towards making Students possess positive Attitude
                    in addition to the needed
                    Skills and deep Knowledge.
                    <br><br>
                    &nbsp;&nbsp;&nbsp; In this year, IIT Jodhpur is further equipping its teaching laboratories. Also,
                    the Department of Metallurgical
                    &amp; Materials Engineering is starting the M.Tech and Ph.D. Degree Programs, and the Department of
                    Bioscience &amp; Bioengineering the B.Tech.
                    Degree Program. These new programs and the ongoing ones will offer foundation to advanced level
                    courses, with emphasis on
                    hands-on learning. Further, the Institute is continuous efforts to strengthen its relations with
                    technology industries; its
                    Industry Immersion Program gives select students industrial exposure to live end-to-end technology.
                    <br><br>
                    &nbsp;&nbsp;&nbsp;It is expected that in the years to come, the principal stakeholders of the
                    Institute work harder and
                    in unison with constructive thoughts... and prepare its graduates to be more competent with each
                    year passing. I invite Technology &amp; Other Industries,
                    R & D organizations and Academia to partner in building this relatively young Institute, through
                    mentoring our technology
                    education programs and projects, and considering employing our graduates in the years to come…
                    <br><br><br>
                    &nbsp;&nbsp;&nbsp;Thank You!!
                <p style="text-align:right">Professor C.V.R. Murty<br>Director<br>Indian Institute of Technology Jodhpur
                </p>
                </p>
            </div>
        </div>
        </p>
    </div>
    </div>
    </div>
    <div class="col-lg-1">
    </div>
    </div>
{% endblock %}
