{% extends 'main/base.html' %}
{% block body %}
<div class="col-lg-10">
            <div class="card">
              <div class="card" id="my-card"><span style="font-size: 1.5rem">&nbsp; Facilities</span></div>
                <div class="card-block">
                  <h4 class="h4">General</h4>
                  <p class="card-text">
                        Within 3 years of its inception, IIT Jodhpur has built world class facilities allowing the professors and students to carry out innovative research and development activities in several fields of science and technology. Our current facilities include various laboratories, a central library and a fully functional computer centre and well equipped lecture halls.
                  </p>
                  <br><br>
                  <h4 class="h4">Library</h4>
                  <p class="card-text">
                            The Central Library of IIT Jodhpur is functional from the academic campus of the institute . The library presently houses around 5000 books and also subscribes to many magazines. Access to e-journals from Elsevier’s Science Direct, Springer Link, and Scopus database are presently available. Through this facility, the faculty and students have access to a huge database of journals and research material. The library is in the process of enriching its collection in terms of books, journals and electronic/digital resources. The staff of Central Library is at the service of students and faculty of IIT Jodhpur and its community at large.
                  </p>
                  <br><br>
                  <h4 class="h4">Computer Center</h4>
                  <p class="card-text">
                      The Institute has a modern Computer Centre, presently running on a gigabit LAN with 100 Mbps internet bandwidth. It is the nucleus of all computing facilities for the students and the staff. There are several terminals running on Windows and GNU/Linux operating systems and the academic are is also Wi-Fi enabled. The Computer Centre provides access to several licensed softwares like Mat-lab, Mathematica, Scilab etc. In the near future, the Computer Centre will host a high performance computing cluster for scientific research.
                  </p>
                  <br><br>
                  <h4 class="h4">Lecture Hall</h4>
                  <p class="card-text">
                            IIT Jodhpur with its state-of-the-art lecture halls and classrooms, all of which are fully equipped for complete E-learning, ensures the best quality of education for its students. The rooms are air conditioned and also well lighted to provide a wonderful learning ambience. Facilities for holding lectures via video conferencing are also available and functional. In the ongoing semester, a course on High Performance Computing for the final year UG and PG students is being conducted through video conferencing.
                  </p>
                  <br><br>
                  <h4 class="h4">Labs</h4>
                  <p class="card-text">
                            Our institute provides a large number of laboratory facilities to help the students get hands-on experience in various fields of science and technology. We have successfully set up laboratories in the fields of:
                  </p>
                  <table border="1" cellpadding="7" cellspacing="7" align="center">
                        <tr>
                            <td>Chemical Biology</td>
                            <td>Microscopy</td>
                            <td>Chemistry</td>
                            <td>Energy</td>
                        </tr>
                        <tr>
                            <td>Language</td>
                            <td>Multimedia</td>
                            <td>Communication</td>
                            <td>Control</td>
                        </tr>
                        <tr>
                            <td>Microprocessor</td>
                            <td>Robotics</td>
                            <td>Fluid Mechanics</td>
                            <td>Heat Transfer</td>
                        </tr>
                        <tr>
                            <td>Physics</td>
                            <td>Material Testing</td>
                            <td>Solar Radiation</td>
                            <td>Central Workshop</td>
                        </tr>
                    </table>
                    <br><br>
                </div>
            </div>
        </div>
    </div>
{% endblock %}