{% extends 'main/base.html' %}
{% load staticfiles %}
{% block body %}
<div class="row">
    <div class="col-lg-2">
                    {% include 'main/mixins/recruiters_mixin.html' with companies=companies %}

    </div>
    <div class="col-lg-10">
        <div class="card">
            <div class="my-card" id="my-card"><span style="font-size: 1.5rem"> &nbsp; Internship Application Form</span>
            </div>
            <div class="card-block">
                <p class="card-text">
                    <a href="{% static 'Internship-Announcement-Form.docx' %}" download>Click here</a> to download the
                    Internship Announcement Form.
                </p>
            </div>
        </div>
    </div>
    </div>

{% endblock %}