{% extends 'main/base.html' %}
{% load staticfiles %}
{% block body %}


    <div class="col-lg-10">
        <div class="row">
            <div class="col-lg-9">
                <!--Carousel Wrapper-->
                <div id="carousel-example-1z" class="carousel slide carousel-fade" data-ride="carousel">
                    <!--Indicators-->
                    <ol class="carousel-indicators">
                        {#                        <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>#}
                        {% for image in carousel %}
                            <li data-target="#carousel-example-1z" data-slide-to="{{ forloop.counter0 }}"
                                    {% if forloop.counter == 1 %} class="active"{% endif %}></li>
                        {% endfor %}
                    </ol>
                    <!--/.Indicators-->
                    <!--Slides-->
                    <div class="carousel-inner" role="listbox">
                        <!--First slide-->
                        {% for image in carousel %}
                            <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}">
                                <img class="d-block w-100" style="width: 2%;height: 2%" src="{% static image %}"
                                     alt="">
                            </div>
                        {% endfor %}
                    </div>
                    <!--/.Slides-->
                    <!--Controls-->
                    <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                    <!--/.Controls-->
                </div>
                <!--/.Carousel Wrapper-->
            </div>
            <div class="col-lg-3">
                <br>
                <div class="card">
                    <div class="card" id="my-card"><h4>&nbsp Recent News</h4></div>
                    <div class="card-block">
                        <!-- <marquee direction="up" HEIGHT=250 scrollamount="2" onmouseover="this.stop();" onmouseout="this.start();"> -->
                          <p class="d-block w-100">1. New job opening in Placement office for staff positions.
                                    <a href="{% static 'IITJ_RD_2018-19_10.pdf' %}">Read More</a></p>
                        <!-- </marquee> -->
                    </div>
                </div>
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card" id="my-card"><span style="font-size: 1.5rem"> &nbsp; About Us</span></div>
                    <div class="card-block" align="justify">
                        <p class="card-text"> Welcome to the <b>Student Placement Website of IIT Jodhpur!</b>
                            <br><br>
                            Founded in 2008, IIT Jodhpur has emerged in developing a distinct culture of
                            engineering and science education and other areas of scholarship, to best fulfill the
                            current and emerging needs of the changing Indian Society. IIT Jodhpur close
                            association with leading industries and research institutes effectively helps student
                            gain
                            hands on experience and solve technical challenges. As on date, the Institute has 848
                            students spread across 555 B.Tech. students, 56 M.Tech. students, 71 M.Sc. students and
                            166 Ph.D. students pursuing various academic programs Also, this year we have upcoming
                            Department of Metallurgical and Material Engineering, which offers courses in M.Tech.
                            and Ph.D. The department teaching, research and consulting activities will cover a broad
                            spectrum of material science and industrial metallurgy. IIT Jodhpur is also making
                            research in addressing national needs especially those leading to the development of
                            technology for diagnostic and treatment by medical professionals with its new Department
                            of Biological Science and Bioengineering which is planned towards Biological science,
                            medical science, technology and their interfaces. The department will offer a wide range
                            of courses from foundation level to advanced level in the said domains for the various
                            degree programs. Hands-on learning will be emphasized using state-of-the-art centralized
                            research facilities.<br><br>
                            IIT Jodhpur has moved to its sprawling 852 acre residential Permanent Campus on
                            National Highway 65 (NNE of Jodhpur towards Nagaur). The Permanent Campus is
                            meticulously planned and envisioned to stand as a symbol of academics - simple, but
                            deep.<br><br>
                            IIT Jodhpur promotes technology thought and action. It is on the mission to prepare
                            competent technology graduates. We, the office of student placement aims to create an
                            encouraging atmosphere for students by providing them ample reminders to build
                            competencies in sync with their dream career , thereby ensuring their smooth landing in
                            the professional world. Also, it will sensitize students in best possible way by
                            promoting
                            them to take responsibility for their own career decision and prepare them for the
                            industry. Thus, it will provide services and resources that assist the students in their
                            ongoing efforts of competence developing, career planning and employer searching.
                            Office of student placement had a dedicated workforce of students and volunteer
                            students, who are equipped to help guests visiting from the Employer organization
                            acquaint themselves with the placement procedure and provide necessary logistic
                            equipment.<br><br>
                            We extend a cordial invitation to you to participate in Campus Placement Drive for the
                            season 2018-19 and hope that you will find the best talent you were looking for.
                            <br>
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <br>


    <br><br>{% endblock %}
