{% extends 'main/base.html' %}
{% load staticfiles %}
{% block body %}

<style type="">
    @media only screen and (max-width: 768px) {
        #carousel-example-1z {
            display: none !important;
        }

        #testimonials {
            display: none !important;
        }
    }

    body {
        overflow-x: hidden;
    }
</style>
<div class="row" style="padding-right: 10px; padding-left: 10px;">
    <div class="col-lg-9">
        <!--Carousel Wrapper-->
        <div id="carousel-example-1z" class="carousel slide carousel-fade" data-ride="carousel"
             style="display: ">
            <!--Indicators-->
            <ol class="carousel-indicators carousel-indicators-numbers">
                {% for image in carousel %}
                <li data-target="#carousel-example-1z" data-slide-to="{{ forloop.counter0 }}"
                    {% if forloop.counter== 1 %} class="active" {% endif %}></li>
                {% endfor %}
            </ol>
            <!--/.Indicators-->
            <!--Slides-->
            <div class="carousel-inner" role="listbox">
                <!--First slide-->
                {% for image in carousel %}
                <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}">
                    <img class="d-block w-100" style="width: 2%; height: 28rem" src="{{ image.image.url }}"
                         alt="">
                </div>
                {% endfor %}
            </div>
            <!--/.Slides-->
            <!--Controls-->
            <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
            <!--/.Controls-->
        </div>
        <!--/.Carousel Wrapper-->
    </div>
    <br>
    <div class="col-lg-3">
        <br>
        <div class="card" style="background-color: #edd9c0;">
            <div class="card my-card"><h4 style="color: white">&nbsp Recent News</h4></div>
            <div class="card-block" style="overflow-y: auto;height: 23rem;">
                <!-- <marquee direction="up" HEIGHT=250 scrollamount="2" onmouseover="this.stop();" onmouseout="this.start();"> -->
                <p class="d-block w-100">
                    {% if news_list %}
                    {% for news in news_list %}
                    {{ forloop.counter }}. {{ news.content }}
                    {% if news.document %}
                    <a href="{{ news.document.url }}">{{ news.file_title }} </a>
                    {% endif %}
                    {% if news.link %}
                    <a href="{{ news.link }}">{{ news.link_title }}</a>
                    {% endif %}
                    <br><br>
                    {% endfor %}
                    {% endif %}
                </p>
                <!-- </marquee> -->
            </div>
        </div>
    </div>
</div>
<br><br>


<div id="container">
    <div class="row" style="padding-right: 10px; padding-left: 10px;">
        {% if not 'register' in request.path and not 'contacts' in request.path %}

        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            {% include 'main/mixins/recruiters_mixin.html' with companies=companies %}
        </div>
        {% endif %}


        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
            <div class="card" style="background-color: #edd9c0;">
                <div class="card my-card"><h4 style="color: white"> &nbsp; About Us</h4></div>
                <div class="card-block" align="justify">
                    <p class="card-text"> Welcome to the <b>Student Placement Website of IIT Jodhpur!</b>
                        <br><br>
                        Founded in 2008, IIT Jodhpur has emerged in developing a distinct culture of
                        engineering and science education and other areas of scholarship, to best fulfill the
                        current and emerging needs of the changing Indian Society. IIT Jodhpur close
                        association with leading industries and research institutes effectively helps student
                        gain
                        hands on experience and solve technical challenges. As on date, the Institute has 848
                        students spread across 555 B.Tech. students, 56 M.Tech. students, 71 M.Sc. students and
                        166 Ph.D. students pursuing various academic programs Also, this year we have upcoming
                        Department of Metallurgical and Material Engineering, which offers courses in M.Tech.
                        and Ph.D. The department teaching, research and consulting activities will cover a broad
                        spectrum of material science and industrial metallurgy. IIT Jodhpur is also making
                        research in addressing national needs especially those leading to the development of
                        technology for diagnostic and treatment by medical professionals with its new Department
                        of Biological Science and Bioengineering which is planned towards Biological science,
                        medical science, technology and their interfaces. The department will offer a wide range
                        of courses from foundation level to advanced level in the said domains for the various
                        degree programs. Hands-on learning will be emphasized using state-of-the-art centralized
                        research facilities.<br><br>
                        IIT Jodhpur has moved to its sprawling 852 acre residential Permanent Campus on
                        National Highway 65 (NNE of Jodhpur towards Nagaur). The Permanent Campus is
                        meticulously planned and envisioned to stand as a symbol of academics - simple, but
                        deep.<br><br>
                        IIT Jodhpur promotes technology thought and action. It is on the mission to prepare
                        competent technology graduates. We, the office of student placement aims to create an
                        encouraging atmosphere for students by providing them ample reminders to build
                        competencies in sync with their dream career , thereby ensuring their smooth landing in
                        the professional world. Also, it will sensitize students in best possible way by
                        promoting
                        them to take responsibility for their own career decision and prepare them for the
                        industry. Thus, it will provide services and resources that assist the students in their
                        ongoing efforts of competence developing, career planning and employer searching.
                        Office of student placement had a dedicated workforce of students and volunteer
                        students, who are equipped to help guests visiting from the Employer organization
                        acquaint themselves with the placement procedure and provide necessary logistic
                        equipment.<br><br>
                        We extend a cordial invitation to you to participate in Campus Placement Drive for the
                        season 2018-19 and hope that you will find the best talent you were looking for.
                        <br><br>
                    </p>


                </div>
            </div>
        </div>
    </div>

    <div>
        <hr/>

    </div>
    <br>


    <div class="col-lg-12" id="testimonials">

        <div class="col-md-12" align=center style="padding:12px;padding-top:0px;">
            <center>
                <h2><b>
                    <mark><font color="white"> <u>Alumni's &nbsp Words</u></font></mark>
                </b></h2>
            </center>
        </div>

        <div id="carousel-example-2z" class="carousel slide carousel-fade" data-ride="carousel">
            <!--Indicators-->
            <ol class="carousel-indicators">
                {% if testimonial_list %} {% for alumni_testimonial in testimonial_list %}
                <li data-target="#carousel-example-2z" data-slide-to="{{forloop.counter0}}" class="active"></li>
                {% endfor %}{% endif %}
            </ol>
            <!--/.Indicators-->
            <!--Slides-->


            <a class="carousel-control-prev" href="#carousel-example-2z" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <div class="carousel-inner anim" style="background-color: #edd9c0; height: inherit;" role="listbox">

                {% if testimonial_list %} {% for alumni_testimonial in testimonial_list %}


                <div class="carousel-item {% if forloop.counter == 1 %} active {% endif %}">
                    <div class="col-lg-8">
                        <p style="padding: 1rem;padding-top: 2rem;">{{ alumni_testimonial.testimonial }}</p>
                    </div>
                    <div class="col-lg-2">
                        <img src="{{ alumni_testimonial.alumni_image.url }}" alt=""
                             style="width: 12rem;height: 12rem;text-align: center; padding-top: 2rem;">
                        <p style="text-align: center;">{{ alumni_testimonial.alumni_name }}
                            <br>{{ alumni_testimonial.designation }}<br>{{ alumni_testimonial.company_working }}</p>
                    </div>
                </div>
                {% endfor %}
                {% endif %}

            </div>
            <a class="carousel-control-next" href="#carousel-example-2z" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
            <!--/.Controls-->
        </div>

    </div>


    <script type="text/javascript">
        var scrollEventHandler = function () {
            window.scroll(0, window.pageYOffset)
        }
        window.addEventListener("scroll", scrollEventHandler, false);
    </script>
    {% endblock %}
