{% extends 'main/base.html' %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2">
            {% include 'main/mixins/recruiters_mixin.html' with companies=companies %}

        </div>
        <div class="col-lg-10">

            <div class="card">
                <div class="my-card" id="my-card"><span style="font-size: 1.5rem"> &nbsp; Invitation</span></div>
                <div class="card-block">
                    <p class="card-text">Dear Sir/Madam<br><br>
                        Season&#39;s Greetings from IIT-Jodhpur Campus Placement Team!!!<br><br>
                        It gives me immense pleasure to invite you to participate in the Campus Placement Meet 2018-19
                        of
                        the Indian
                        Institute of Technology Jodhpur at our Academic Campus in Jodhpur. Our placement activities
                        commences from July
                        2018 onwards. The pre-placement talks starts from August 2018, followed by campus recruitment
                        from 1
                        st December
                        2018.<br>
                        The Indian Institute of Technology Jodhpur, established in 2008, has shown its glory and
                        excellence
                        by emerging as a
                        leading Indian Institute, nurturing technical competence and a holistic development of its
                        students.
                        As on date, the
                        Institute has 848 Students (555 B.Tech., 56 M.Tech., 71 M.Sc. and 166 Ph.D. students) along with
                        60
                        Faculty
                        Members, 2 Visiting Faculty Members and 60 Staff Members. The Institute is committed to
                        technology
                        development,
                        and has established state–of–the–art laboratories for basic research. We also have third year
                        students who aspire to
                        do internships at your prestigious firm. <br><br>
                        Highlights of the different courses are undermentioned:<br><br>

                    <table class="table table-bordered table-hover" style="border-top: 2px solid gray;">
                        <tr>
                            <th>Discipline</th>
                            <th>Program</th>
                            <th>Highlight of the Course</th>
                        </tr>
                        <!--B.Tech.-->
                        <tr>
                            <td>Computer Science and Engineering</td>
                            <td>B.Tech.</td>
                            <td>Data Structures and Algorithms, Computer Networks, Operating Systems, Database
                                Management
                                Systems, Machine Learning, Computer Organization and Architecture
                            </td>
                        </tr>

                        <tr>
                            <td>Electrical Engineering</td>
                            <td>B.Tech.</td>
                            <td>Digital logic and design, Analog Electronics, Micro Processors and Micro Controllers,
                                Digital Communication, Power Electronics, Power Systems, Control Systems,
                                Electromagnetic
                                Theory
                            </td>
                        </tr>

                        <tr>
                            <td>Mechanical Engineering</td>
                            <td>B.Tech.</td>
                            <td>Thermodynamics, Heat and Mass Transfer, Introduction to Manufacturing Systems, Fluid
                                Mechanics, Kinematics of Mechanisms and Machines
                            </td>
                        </tr>
                        <!--<tr>-->
                        <!--<td>Biological Inspired System Science</td>-->
                        <!--<td>B.Tech.</td>-->
                        <!--<td>Microbiology, Introduction to Biology, Biophysical Techniques, Introduction to cognitive-->
                        <!--Science, Neuroscience, Physiology, Computational Biology-->
                        <!--</td>-->
                        <!--</tr>-->

                        <!--M.Tech.-->
                        <tr>
                            <td>Mechanical Engineering</td>
                            <td>M.Tech.</td>
                            <td>Multi-body Dynamics, Thermal Energy Conversion, Mechanical Metallurgy, Numerical Methods
                                in
                                Mechanics, Engineering Optimization, Experimental Techniques, Computer Aided
                                Manufacturing,
                                Robotics, Solar Thermal Design
                            </td>
                        </tr>
                        <tr>
                            <td>Electrical Engineering</td>
                            <td>M.Tech.</td>
                            <td>Digital IC Design, Digital Signal Processing & Applications, Sensors in Instrumentation,
                                Wireless Communication, Embedded Systems Design, Electronic System Design, VLSI Design
                                Techniques Adaptive Signal Processing, IC Technology, Mobile Communication Systems,
                                CMOS,
                                Power System Protection
                            </td>
                        </tr>
                        <tr>
                            <td>Bioscience & Bioengineering</td>
                            <td>M.Tech.</td>
                            <td>
                                Introduction to Numerical methods and data analysis, Bioprocess & Fermentation
                                Technology, Biochemical Engineering, Microbiology & diagnostic techniques-1, Advanced
                                Genetic engineering, Disease, Process, Diagnostic & Therapeutics, Bioinformatics &
                                Computational Biology, Biochemical & Computational techniques, Biosafety and IPR
                            </td>
                        </tr>

                        <!--M.Sc.-->
                        <tr>
                            <td>Physics</td>
                            <td>M.Sc.</td>
                            <td>Mathematical Physics, Classical Mechanics, Quantum Mechanics, Electronics, Statistical
                                Physics, Atomic and Nuclear Physics, Condensed Matter Physics, Electrodynamics, Advanced
                                Quantum Mechanics
                            </td>
                        </tr>

                        <tr>
                            <td>Chemistry</td>
                            <td>M.Sc.</td>
                            <td>Reaction and Mechanism, Transition Metal Chemistry, Statistical Thermodynamics and
                                Chemical
                                Kinetics, Quantum Chemistry & Spectroscopy, Mathematical and Numerical Techniques for
                                Chemists, Physical Organic Chemistry, Solid State & Material Chemistry, Chemical Binding
                                and
                                Organometallic & Bio-Inorganic Chemistry
                            </td>
                        </tr>

                        <tr>
                            <td>Mathematics</td>
                            <td>M.Sc.</td>
                            <td>Fundamental aspects of real analysis, complex analysis and functional analysis, and
                                abstract
                                algebra, Foundations of application oriented topics (like linear algebra, ordinary and
                                partial differential equations, probability and statistics, and optimization
                                techniques),
                                Computational aspects of programming techniques and numerical analysis
                            </td>
                        </tr>

                    </table>

                    The graduation date for the above appended program is May 2019.<br>
                    You may send us a filled copy of the Job Announcement Form or register on the online portal
                    www.spc.iitj.ac.in.<br>
                    Our placement team would be very happy to assist you during the entire period. We look forward to
                    welcome you at IIT Jodhpur!<br>

                    Please feel free to contact mentioned below for any queries.<br><br>


                    Thank you.<br>
                    With Warm Regards,<br><br>

                    Gurpreet Kaur Virdi<br>
                    Assistant Placement Officer <br>
                    Office of Student Placements<br>
                    Indian Institute of Technology Jodhpur, <br>
                    Rajasthan.<br>
                    Mobile No: 94624-80868 <br>

                </div>
            </div>
            </p>
        </div>
    </div>
</div>


{% endblock %}