{% extends 'main/base.html' %}
{% block body %}
<div class="row">
    <div class="col-lg-2">
        {% include 'main/mixins/recruiters_mixin.html' with companies=companies %}

    </div>


    <div class="col-lg-10">
        <div class="card">
            <div class="my-card" id="my-card"><span style="font-size: 1.5rem; background: black"> &nbsp; Past Recruiters</span></div>
            <div class="card-block">
                <p class="card-text">
                <h3><u><b>Private Industries</b></u></h3>
                <div class="row">
                    <div class="col-lg-4">
                        <p>3DPLM Software Limited <br/>
                            Aasaan Jobs Private Limited<br/>
                            Aakash Educational Service Limited<br/>
                            Allgo Embedded Systems<br/>
                            Amadeus Software Labs<br/>
                            Angara Ecommerce Private Limited<br/>
                            Amazon.com<br/>
                            Anglo Eastern Ship Private Limited<br/>
                            Arm Embedded Technologies Limited<br/>
                            Barclays<br/>
                            Cairn India<br/>
                            Cisco Systems<br/>
                            CMC Limited<br/>
                            Cocubes.com<br/>
                            Cognizant Technology Solution Corporation<br/>
                            CRISIL Limited<br/>
                            C42 Engineering Private Limited<br/>
                            DE Shaw & Company<br/>
                            DIRECTI<br/>
                            Drishti Software Solutions Private Limited<br/>
                            Flipkart.com<br/>
                            Finisar Corporation<br/>
                            Fluidyn Instruments Private Limited<br/>
                            Free Scale Semiconducter<br/>
                            Future Supply Chain Solutions Limited<br/>
                            Futures First<br/>
                            Goldman Sachs<br/>
                            Google<br/>
                            Grofers<br/>
                            Grident Technologies Private Limited<br/>
                            Gyan Central<br/>
                            Havells India Limited<br/>
                            HCL Technologies<br/>
                            Honda Cars<br/>
                            Hyundai<br/></p>

                    </div>
                    <div class="col-lg-4"></div>
                    <div class="col-lg-4">
                        <p>
                            Infosys
                            <br/> Ittiam Systems Private Limited
                            <br/> Ignite World Private Limited
                            <br/> Ishi Systems
                            <br/> Jindal Steel and Power
                            <br/> Kritikal Solutions Private Limited
                            <br/> Larsen & Tourbo
                            <br/> Larsen & Tourbo ECC
                            <br/> Nagarro Software Private Limited
                            <br/> NBC Engineering Industries Limited
                            <br/> National Instruments Corporation
                            <br/> Navyug Solutions Limited
                            <br/> Nucleus Software Exports Limited
                            <br/> Oanda Financial Services
                            <br/> Oracle Financial Service Corporation
                            <br/> Practo Technologies Private Limited
                            <br/> Renault Nissan
                            <br/> Resonance Eduventures Limited
                            <br/> Samsung India Software Operations
                            <br/> Samsung India Software Centre
                            <br/> Samsung Software Engineering Lab
                            <br/> Sigmoid Analytics Limited
                            <br/> Steelwedge Technologies Private Limited
                            <br/> Snapdeal.com
                            <br/> STMicroelectronics
                            <br/> Tata Consultancy Services
                            <br/> Tata Motors Private Limited
                            <br/> Trident Group
                            <br/> Voyalla Retail Private Limited
                            <br/> Volvo Eicher
                            <br/> Libsys Limited
                            <br/> Mahindra & Mahindra Limited
                            <br/> Maxheap Technologies
                            <br/> Microsoft Corporation
                            <br/> Misys Software Solutions Private Limited
                            <br/> Morgan Stanley
                        </p>
                    </div>
                </div>

                <h3><b><u>Public Sector Enterprises </u></b></h3>
                <div class="row">
                    <div class="col-lg-4">
                        <p>
                            Bank of India </br>
                            Bharat Petroleum Corporation Limited</br>
                            Bharat Heavy Electrical Limited</br>
                            Coal India Limited</br>
                            Defence Research Development Organization</br>
                        </p>

                    </div>
                    <div class="col-lg-4"></div>
                    <div class="col-lg-4">
                        <p>
                            Hindustan Petroleum Corporation Limited</br>
                            Indian Army</br>
                            Indian Navy</br>
                            Indian Space Research Organization</br>
                            Indian Oil Corporation Limited</br>
                            Power System Operation Corporation</br>
                        </p>
                    </div>
                </div>

            </div>
        </div>
        </p>
    </div>
</div>

</div>


{% endblock %}