{% extends 'main/base.html' %}
{% block body %}
<div class="col-lg-10">
          <div class="card">
            <div class="card" id="my-card"><span style="font-size: 1.5rem"> &nbsp; Programs</span></div>
              <div class="card-block">
                <ul>
                  <li class="heading_merge">
                    <br>
                    <h4 class="h4" style="font-weight: bold;"> B.Tech</h4>
                    <p class="card-text">
                    The Institute offers the following Bachelor of Technology (B.Tech.) Programs:<br />
                    1.  B.Tech. (<a href="http://iitj.ac.in/department/index.php?id=cse">Computer Science & Engineering</a>)<br />
                    2.  B.Tech. (<a href="http://iitj.ac.in/department/index.php?id=ee">Electrical Engineering</a>)<br />
                    3.  B.Tech. (<a href="http://iitj.ac.in/department/index.php?id=me">Mechanical Engineering</a>)<br />
                    <br>
                     <b>Upcoming</b>
                     <br>

                      1.  B.Tech. (<a href="http://iitj.ac.in/department/index.php?id=biology">Biotechnology</a>)<br />
                    </p>
                  </li>
                  <br><br>
                  <li class="heading_merge">
                    <h4 style="font-weight: bold;"> M.Tech</h4>
                    <p class="card-text">
                      The Institute offers the following Master of Technology (M.Tech.) Programs:<br />
                      1.  M.Tech. (<a href="http://iitj.ac.in/department/index.php?id=ee">Electrical Engineering</a>)<br />
                      2.  M.Tech. (<a href="http://iitj.ac.in/department/index.php?id=me">Mechanical Engineering</a>)<br />
                      3.  M.Tech. (<a href="http://iitj.ac.in/department/index.php?id=biology">Bioscience and Bioengineering</a>)<br />
                      <br>
                      <b>Upcoming</b>
                      <br>

                       1.  M.Tech. (<a href="http://iitj.ac.in/department/index.php?id=materials">Metallurgical and Materials Engineering</a>)<br />
                    </p>
                  </li>
                  <br><br>
                  <li class="heading_merge">
                    <h4 style="font-weight: bold;"> M.Sc</h4>
                    <p class="card-text">
                      The Institute offers the following Master of Science (M.Sc.) Programs:<br />
                      1.  M.Sc. (<a href="http://iitj.ac.in/department/index.php?id=chemistry">Chemistry</a>)<br />
                      2.  M.Sc. (<a href="http://iitj.ac.in/department/index.php?id=mathematics">Mathematics</a>)<br />
                      3.  M.Sc. (<a href="http://iitj.ac.in/department/index.php?id=physics">Physics</a>)<br />
                    </p>
                  </li><br>
                  <li class="heading_merge">
                    <h4 style="font-weight: bold;"> Ph.D</h4>
                    <p class="card-text">
                      The Institute offers the following Doctorate of Philosophy (Ph.D.) Programs:<br />
                      1.  Ph.D. (<a href="http://iitj.ac.in/department/index.php?id=cse">Computer Science & Engineering</a>)<br />
                      2.  Ph.D. (<a href="http://iitj.ac.in/department/index.php?id=ee">Electrical Engineering</a>)<br />
                      3.  Ph.D. (<a href="http://iitj.ac.in/department/index.php?id=me">Mechanical Engineering</a>)<br />
                      4.  Ph.D. (<a href="http://iitj.ac.in/department/index.php?id=biology">Biology</a>)<br />
                      5.  Ph.D. (<a href="http://iitj.ac.in/department/index.php?id=chemistry">Chemistry</a>)<br />
                      6.  Ph.D. (<a href="http://iitj.ac.in/department/index.php?id=mathematics">Mathematics</a>)<br />
                      7.  Ph.D. (<a href="http://iitj.ac.in/department/index.php?id=physics">Physics</a>)<br />
                      8.  Ph.D. (<a href="http://iitj.ac.in/department/index.php?id=hss">Humanities & Social Sciences.</a>)<br />
                       <b>Upcoming</b>
                       <br>

                      1.  Ph.D. (<a href="http://iitj.ac.in/department/index.php?id=materials">Metallurgical and Materials Engineering</a>)<br />
                         2.  Ph.D. (<a href="http://iitj.ac.in/department/index.php?id=biology">Bioscience and Bioengineering</a>)<br />
                    </p>
                  </li>
                  <br><br>
                  <li class="heading_merge">
                    <p>
                        For more details please <a href="http://iitj.ac.in/academics/index.php?id=programs" target="_blank">Click Here</a>
                    </p>
                  </li>
                </ul>
              </div>
            </div>
        </div>
      </div>
{% endblock %}