{% extends 'main/base.html' %}
{% block body %}
     <div class="col-lg-10">
        <div class="card">
          <div class="card" id="my-card"><span style="font-size: 1.5rem"> &nbsp; Research And Development</span></div>
            <div class="card-block">
              <br>
              <h4 class="h4">General</h4>
              <p class="card-text">
                        IIT Jodhpur was established with the idea of promoting research and development in diverse and interdisciplinary fields. With the aid of the French government and many other universities which have shown a great interest in our innovative ideas of research, we have made immense progress. The Institute favours participation from both the public and the private sectors for further advancement of its research facilities.
                        The Centres of Excellence form a comprehensive basis of research at IIT Jodhpur and we lay great emphasis on research work in the various CoE’s.
              </p>
              <br><br>
              <h4 class="h4">UGRI Programmes: Under-Graduate Research And Innovation Programmes</h4>
              <p class="card-text">
                    It was in the summer of 2011, that IIT Jodhpur launched the UGRI programme to nourish research and innovation among the undergraduate students from IIT Jodhpur and other academic institutions of the country. Under this programme, the students undertake focused research projects at IIT Jodhpur for a period of 10 weeks. The students selected for the UGRI-2011 programme (May 9th to July 15, 2011.) were given a stipend and subsidized accommodation in the students’ hostels of the Institute. The major areas of research were: Energy, Health, Environment, and ICT (Information, Communication and Technology), but it did not limit itself to these areas of research only. The students were given the freedom and opportunity to pursue their research and development activities in other areas of engineering and science as well.
              </p>
              <br><br>
            </div>
          </div>
        </div>
      </div>
{% endblock %}