{% extends 'main/base.html' %}
{% block body %}
 <br><br>
  <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
        <div class="card">
          <div class="card custom-gradient" id="my-card"><span style="font-size: 1.5rem"> &nbsp; Way To Placement</span></div>
            <div class="card-block">
              <p class="card-text">
                        <ol>
                            <li> Students of IIT Jodhpur in final year of B.Tech and M.Tech are eligible to register.</li>
                            <li> Students willing to apply for placements through OSP are required to register for placements through OSP.</li>
                            <li> Student who wishes to apply for particular position in particular company is expected to be:<br>
                                a. Register for placements. <br>
                                b. Attend PPT (Pre Placement Talks) of that particular company, if any. <br>
                                c. Apply for the offer posted by particular company online. <br></li>
                            <li> All students will get their login id and password for automation system after registering for placements.</li>
                            <li> In this automation system, every job offer and other relevant information (containing pay package, eligibility criterion, selection procedures etc.) will be visible to all final year students.</li>
                            <li> Students should apply online for the job offer before the deadline.</li>
                            <li> Further information regarding selection procedure and important dates will be notified from time to time.</li>
                        </ol>
                </p>
              </div>
            </div>
          </div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
              <div class="card">
                <div class="card custom-gradient" id="my-card"><span style="font-size: 1.5rem"> &nbsp; Pre Placement Offers (PPOs)</span></div>
                  <div class="card-block">
                    <p class="card-text">
                      <ol>
                        <li> Students should inform OSP if any PPO is being offered by company.</li>
                        <li> Students will have to inform about accepting or denying a PPO to the OSP. If the PPO is accepted, the job will be registered and she/he will be out of the placement process. However, she/he will be allowed to participate in the process if the offer is rejected.</li>
                        <li> Any student found to have secured a PPO and not informed the placement office of the same will be debarred from the placement process.</li>
                      </ol>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <br><br>
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-10">
                  <div class="card">
                    <div class="card custom-gradient" id="my-card"><span style="font-size: 1.5rem"> &nbsp; Penalty Structure</span></div>
                      <div class="card-block">
                        <p class="card-text">
                          <ol>
                            <li> It is mandatory for students to attend the PPT session of the company if she/he wishes to apply for the same. If she/he does not attend PPT, her/his application for that particular company will not be accepted.</li>
                            <li> Once any student applies for a particular company then she/he has to appear for full selection procedure. If any student applies for a company and leaves procedure in between then serious action will be taken by OSP. And repetition of this malpractice will cause debarment of student from placement activity.</li>
                            <li> Students are not allowed to contact the members of the company visiting the campus. One must notify OSP if any link is formed from company's side. Otherwise if caught serious action will be taken by OSP against the student concerned.</li>
                            <li> All forms of cheating (like marking proxies or cheating in written tests) during the selection process is strictly prohibited and those caught indulging in such activities would be penalized seriously.</li>
                            <li> Any sort of misbehavior on the part of students which affects the decorum of the PPT or the selection process or the reputation of the OSP, will not be tolerated and OSP will be liable to take serious actions.</li>
                          </ol>
                        </p>
                      </div>
                    </div>
                  </div>
              </div>
              <br><br>


{% endblock %}