{% extends 'main/base.html' %}
{% block body %}
<div class="row">
    <div class="col-lg-2">
        {% include 'main/mixins/recruiters_mixin.html' with companies=companies %}

    </div>
    <div class="col-lg-10">
        <div class="card">
            <div class="my-card" id="my-card"><span style="font-size: 1.5rem"> &nbsp; Placement Statistics</span></div>
            <div class="card-block">
                <p class="card-text" style="text-align:justify;">
                <ul class="a">
                    In academic year 2018-19, IITJ has recorded <b>84% placement</b> which is highest until now.
                    <br> The average salary across the branches has also increased.
                    <br> Our <b>16 students got PPOs</b> from prestigious companies.
                    <br> A steep rise in the number of companies<b> (60+)</b> visited our campus was observed.
                    <br> Below is the summary of placement statistics of 2018-19 academic year:

                </ul>
                </p>
                <br>
                <div class="row">
                    <div class="col-lg-5">
                        <b style="font-size: large;">B.TECH PLACEMENTS :</b><br><br>
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped" style="width:auto;white-space: nowrap;">
                                <tr>
                                    <th colspan="3" style="width:auto; text-align: center">PLACEMENT %</th>
                                </tr>
                                <tr>
                                    <th style="width:auto;">Branch</th>
                                    <th style="width:auto;">2018-2019</th>
                                </tr>
                                <tr>
                                    <td>Computer Science Engineering</td>
                                    <td>91%</td>
                                </tr>
                                <tr>
                                    <td>Electrical Engineering</td>
                                    <td>84%</td>
                                </tr>
                                <tr>
                                    <td>Mechanical Engineering</td>
                                    <td>75%</td>
                                </tr>
                                <tr>
                                    <td><b>Overall </b></td>
                                    <td>84%</td>
                                </tr>
                                <tr>
                                    <td><b>Overall Average Salary</b></td>
                                    <td>14.33L</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-1">
            </div>
        </div>
    </div>
</div>
{% endblock %}
