{% extends 'main/base.html' %}
{% block body %}
    <div class="col-lg-10">
        <div class="card">
            <div class="card" id="my-card"><span style="font-size: 1.5rem">&nbsp; Why Recruit?</span></div>
            <div class="card-block">
                <b>Institute Level Projects</b>
                <p>Students get an early exposure to industry through a variety of institute level projects
                    in collaboration with companies. These simulate a virtual work environment at the
                    undergraduate level and empower the students to be professionals even at entry-
                    level jobs. Few noteworthy examples are the ingenious 35$ tablet pc testing and
                    development in collaboration with MHRD and the system software “ANURAG”
                    project in collaboration with DRDO and Algo Systems.</p>
                <b>Institute Management</b>
                <p>These students have had an exciting opportunity to participate in building the
                    institute from scratch. The student has been a core member in organising the whole
                    gamut of activities such as the Counselling Service, Placement Services, mess
                    facilities, Institute festivals, etc. is managed by students under the guidance of
                    faculty members. The student gets an opportunity to acquire managerial skills, gain
                    communication and negotiating skills helps in building their confidence in different
                    field and gain real time exposure.</p>
                <b>Summer Internship</b>
                <p>Every year students get internship in multinational companies like Goldman Sachs, DE
                    Shaw, Arceisium, Microsoft, Morgan Stanley, TVS motors, Mahindra and Mahindra etc. The
                    students get an opportunity to work in latest technologies and gain extensive real time
                    experience of professional world. With the excellence performance of our students in the
                    internships, the graph of the PPOs offered is going upwards. The rate of selection of
                    students in internships have also been increasing every year. The students are getting Job
                    ready to face the corporate world.</p>
                <b>Research</b>
                <p>Institute has various labs which allow undergraduates to work alone or in groups in
                    developing exciting solutions to problems in the Industry as well as in the Academia.
                    Creativity is sustained and kindled in the students through a large number of
                    competitions organized by students in the spheres of technology, arts and
                    management thereby providing for the holistic development of the individual. This is
                    signified by the Institute level SCHOD (Student Council for Holistic Development),
                    entirely managed by the student community. Hence the research potential of
                    students in the institute grows in acuity, thereby allowing them to reach new zeniths
                    of creativity without any jeopardy to their jobs.</p>

                <b>Training</b>
                <p>
                    We believe that our students should be able to adapt, adopt and become adept in
                    their technical and life skills to survive in the industry. Hence, the students are
                    trained by highly qualified corporate trainers who focus on both Aptitude and Soft
                    skills. Our students draw their own ‘Aspirations Chart’ so that they can present their
                    Achiever Pattern in their resumes. This includes academic credentials, smart
                    thinking, communication skills, problem solving ability and technical competencies.
                </p>
            </div>
        </div>
    </div>
    </div>
{% endblock %}