{% load staticfiles %}
<!DOCTYPE html>
<head>
    {% block header %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
        <link href="{% static '/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static '/css/mdb.min.css' %}" rel="stylesheet">
        <link href="{% static '/css/style.css' %} " rel="stylesheet">
        <link rel="icon" href="{% static 'img/iitj.png' %}">
        <title>Office of Student Placements, IIT Jodhpur</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <style type="text/css">
            .row {
                margin-left: 0;
                margin-right: 0;
            }

            .container {
            }

            .row {
                margin-left: -15px;
                margin-right: -15px;
            }
        </style>
    {% endblock %}
</head>
<body style="margin:0px auto ;background: white;">
{% block heading %}
    <div class="main-heading">
        <div class="row">
            <div class="col-md-12">
                <div class="media" style="margin-left: auto; margin-bottom: 1px; margin-top: 1rem; margin-right: auto;">
                    <a class="thumbnail pull-left">
                        &nbsp &nbsp
                        <img src="{% static '/img/logo2.png' %}" alt="IIT Jodhpur" class="logo"
                             style="height:5rem; width:auto;">
                    </a>
                    <div class="media-body" style="margin-left:10px; margin-top: 10px;">
                        <a href="http://iitj.ac.in/" class=" pull-right" style="margin-right: 0.5rem">IITJ Homesite</a>
                        <h4 class="heading big" style="font-weight:400"><a href="http://spc.iitj.ac.in/"
                                                                           style="color: black;">Office of Student
                            Placements</a></h4>
                        <p class="pull-right" style="margin-right: 2rem">
                            <a href=""><i class="fa fa-facebook"></i></a>
                            &nbsp; &nbsp;
                            &nbsp
                            <a href=""><i class="fa fa-linkedin"></i></a>
                        </p>
                        <h6 class="heading" style="margin-top:-0.40rem;">IIT JODHPUR </h6>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block navbar %}
    <nav class="navbar navbar-toggleable-md navbar-dark">
        <div class="container">
            <div class=" navbar-collapse" id="collapseEx12">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item hoverable">
                        <a class="nav-link" href="{% url 'student:resume_upload' %}">Upload Resume</a>
                    </li>
                    <li class="nav-item hoverable">
                        <a class="nav-link" href="{% url 'student:detail' %}">Edit Personal Details</a>
                    </li>
                    <li class="nav-item hoverable">
                        <a class="nav-link" href="{% url 'student:intern-offers' %}">View Intern Offers</a>
                    </li>
                    <li class="nav-item hoverable">
                        <a class="nav-link" href="{% url 'student:job-offers' %}">View Job Offers</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav nav-right">
                    <li class="nav-item hoverable" style="float:right;">
                        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
    <br><br>
{% endblock %}
{% block body %}

{% endblock %}


{% block footer %}
<br>
    <footer class="footer-basic-centered">

            <p class="footer-logos" style="color: white; font-size: 2rem;">

				<a href="https://www.facebook.com/SPC.IITJ/"><i class="fa fa-facebook" style="color: #FFFFFF"></i></a>
				|
				<a href="https://www.linkedin.com/in/office-of-student-placements-iit-jodhpur-62a31352/"><i class="fa fa-linkedin" style="color: #FFFFFF"></i></a>
				|
				<a href="#"><i class="fa fa-github" style="color: #FFFFFF"></i></a>

			</p>

			<p class="footer-company-name">Designed & Maintained by Office of Student Placcements, IIT Jodhpur</p>

	</footer>
    <script type="text/javascript" src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="{% static '/js/tether.min.js' %}"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="{% static '/js/bootstrap.min.js' %}"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="{% static '/js/mdb.min.js' %}"></script>

{% endblock %}
</body>
</html>