{% extends 'student/base.html' %}
{% block body %}
    <div>
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <div class="card">
                    <div class="card" id="my-card"><span
                            style="font-size: 1.5rem"> &nbsp;
                        {% if request.path == "/student/intern_offers/" %}
                            Intern
                        {% elif request.path == "/student/job_offers/" %}
                            Job
                        {% endif %}
                        Offers
                </span></div>
                    <div class="card-block">
                        <div class="table-responsive" style="white-space:nowrap;">
                            <table class="table table-striped">
                                <thead class="lighten-4">
                                <tr>
                                    <th class="theader">S.No</th>
                                    <th class="theader">Company Name</th>
                                    <th class="theader">Job Designation</th>
                                    <th class="theader">View Offer</th>
                                    <th class="theader">Status</th>
                                    <th class="theader">Expires on</th>

                                </tr>
                                </thead>
                                <tbody>
                                {% for ad in ad_list %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ ad.company }}</td>
                                        <td>{{ ad.designation }}</td>
                                        <td>
                                            <a href="{{ ad.get_absolute_url }}">
                                                <button class="btn btn-info btn-sm">
                                                    View Offer
                                                </button>
                                            </a>
                                        </td>
                                        <td>
                                            {% if not userprofile.banned and not userprofile.placed %}
                                                <form method="post">
                                                    {% csrf_token %}
                                                    <label for="id_profile"></label>
                                                    <select name="profile" required id="id_profile" hidden>
                                                        <option value="{{ ad.id }}" selected>---------</option>
                                                    </select>
                                                    <button class="btn btn-info btn-sm" type="submit">Apply</button>
                                                    {{ form.resume }}
                                                </form>
                                            {% elif request.user.banned %}
                                                You have already been placed, you cannot apply now.
                                            {% else %}
                                                You are banned from the placement procedure
                                            {% endif %}
                                        </td>
                                        <td class="red-text">
                                            {{ ad.expiry }}
                                        </td>
                                    </tr>
                                {% endfor %}

                                <tr>
                                    <br>
                                    <td colspan="6" align="center" class="green-text h4-responsive">
                                    - - Applied Offers - -
                                    </td>
                                </tr>
                                {% for ad in applied_offer_list %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ ad.profile.company }}</td>
                                        <td>{{ ad.profile.designation }}</td>
                                        <td>
                                            <a href="{{ ad.profile.get_absolute_url }}">
                                                <button class="btn btn-info btn-sm">
                                                    View Offer
                                                </button>
                                            </a>
                                        </td>
                                        <td>
                                            {% if ad.is_accepted %}
                                                <span class="green-text">Congratulations you have been accepted!</span>
                                                {% else %}
                                                <div class="green-text" align="center">Applied with <a
                                                    href="{{ ad.resume.file.url }}">Resume</a></div>
                                            {% endif %}

                                        </td>
                                        <td class="red-text">
                                            {{ ad.profile.expiry }}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>
    </div>
{% endblock %}

