{% extends 'main/base.html' %}

{% block body %}
<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
        <div class="card">
            <div class="my-card" id="my-card"><span style="font-size: 1.5rem"> &nbsp; Student Registration</span></div>
            <div class="card-block">
                <form method="post"  enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="red-text">
                        {{ form.non_field_errors }}
                    </div>
                    <div class="row">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-9">
                            <div id="register_form" style="display: block;">
                                <br>
                                <div class="md-form">
                                    <i class="fa fa-user prefix" style="color: cornflowerblue"></i>
                                        {{ form.username }}
                                        {% if form.username.errors %}
                                            <div class="red-text">
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ form.username.errors|striptags }}
                                            </div>
                                        {% endif %}
                                        <label
                                            id="{{ form.username.id_for_label }}"
                                            for="{{ form.username.id_for_label }}"
                                        >
                                                {{ form.username.label }}
                                                ({{form.username.help_text}})
                                        </label>
                                </div>
                                <br>
                                <div class="md-form">
                                    <i class="fa fa-user prefix" style="color: cornflowerblue"></i>
                                        {{ form.first_name }}
                                        {% if form.first_name.errors %}
                                            <div class="red-text">
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ form.first_name.errors|striptags }}
                                            </div>
                                        {% endif %}
                                        <label id="{{ form.first_name.id_for_label }}"
                                               for="{{ form.first_name.id_for_label }}" >{{ form.first_name.label }}</label>
                                </div>
                                <br>
                                <div class="md-form">
                                    <i class="fa fa-user prefix" style="color: cornflowerblue"></i>
                                        {{ form.last_name }}
                                        {% if form.last_name.errors %}
                                            <div class="red-text">
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ form.last_name.errors|striptags }}
                                            </div>
                                        {% endif %}
                                        <label id="{{ form.last_name.id_for_label }}"
                                               for="{{ form.last_name.id_for_label }}" >{{ form.last_name.label }}</label>
                                </div>
                                <br>
                                <div class="md-form">
                                    <i class="fa fa-key prefix" style="color: cornflowerblue"></i>
                                        {{ form.password1 }}
                                        {% if form.password1.errors %}
                                            <div class="red-text">
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ form.password1.errors|striptags }}
                                            </div>
                                        {% endif %}
                                        <label id="{{ form.password1.id_for_label }}"
                                               for="{{ form.password1.id_for_label }}" >{{ form.password1.label }}</label>
                                </div>
                                <br>
                                <div class="md-form">
                                    <i class="fa fa-key prefix" style="color: cornflowerblue"></i>
                                        {{ form.password2 }}
                                        {% if form.password2.errors %}
                                            <div class="red-text">
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ form.password2.errors|striptags }}
                                            </div>
                                        {% endif %}
                                        <label id="{{ form.password2.id_for_label }}"
                                               for="{{ form.password2.id_for_label }}" >{{ form.password2.label }}</label>
                                </div>
                                <ul>
                                        <li style="font-size: small">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Your
                                            password can&#39;t be too similar to your other personal information.
                                        </li>
                                        <li style="font-size: small">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Your
                                            password must contain at least 8 characters.
                                        </li>
                                        <li style="font-size: small">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Your
                                            password can&#39;t be a commonly used password.
                                        </li>
                                        <li style="font-size: small">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Your
                                            password can&#39;t be entirely numeric.
                                        </li>
                                    </ul>
                                <br>
                                <div class="md-form">
                                    <i  class="fa fa-envelope prefix" style="color: cornflowerblue"></i>
                                        {{ form.email }}
                                        {% if form.email.errors %}
                                            <div class="red-text">
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ form.email.errors|striptags }}
                                            </div>
                                        {% endif %}
                                        <label id="{{ form.email.id_for_label }}"
                                               for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
                                </div>
                                <br>
                                <div class="md-form">
                                    <i class="fa fa-calendar prefix" style="color: cornflowerblue"></i>
                                        {{ form.year }}
                                        {% if form.year.errors %}
                                            <div class="red-text">
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ form.year.errors|striptags }}
                                            </div>
                                        {% endif %}
                                        <label id="{{ form.year.id_for_label }}"
                                               for="{{ form.year.id_for_label }}">{{ form.year.label }}</label>
                                </div>
                                <br>
                                <div class="md-form">
                                    <i class="fa fa-graduation-cap prefix" style="color: cornflowerblue"></i>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        {{form.program_branch.label}}: {{ form.program_branch }}
                                </div>
                                <br>
                                <div class="red-text">
                                    Fill in your current GPA here(all students).
                                    For first year PG students who don't have a GPA yet, fill in the GPA of your previous qualification
                                </div>
                                <br>
                                <div class="md-form">
                                    <i class="fa fa-percent prefix" style="color: cornflowerblue"></i>
                                        {{ form.gpa }}
                                        {% if form.gpa.errors %}
                                            <div class="red-text">
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ form.contact.errors|striptags }}
                                            </div>
                                        {% endif %}
                                        <label id="{{ form.gpa.id_for_label }}"
                                               for="{{ form.gpa.id_for_label }}" >{{ form.gpa.label }}</label>
                                </div>
                                <br>
                                <div class="red-text">
                                    This field is only for P.G. students
                                </div>
                                <br>
                                <div class="md-form">
                                    <i class="fa fa-percent prefix" style="color: cornflowerblue"></i>
                                        {{ form.ug_gpa }}
                                        {% if form.ug_gpa.errors %}
                                            <div class="red-text">
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ form.ug_gpa.errors|striptags }}
                                            </div>
                                        {% endif %}
                                        <label id="{{ form.ug_gpa.id_for_label }}"
                                               for="{{ form.ug_gpa.id_for_label }}" >{{ form.ug_gpa.label }}</label>
                                </div>
                                <br>
                                <div class="md-form">
                                    <i class="fa fa-phone prefix" style="color: cornflowerblue"></i>
                                        {{ form.phone }}
                                        {% if form.phone.errors %}
                                            <div class="red-text">
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ form.phone.errors|striptags }}
                                            </div>
                                        {% endif %}
                                        <label id="{{ form.phone.id_for_label }}"
                                               for="{{ form.phone.id_for_label }}" >{{ form.phone.label }}</label>
                                </div>
                                <br>
                                <div class="md-form">
                                    <i class="fa fa-birthday-cake prefix" style="color: cornflowerblue"></i>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<!--                                        <label id="{{ form.dob.id_for_label }}"-->
<!--                                               for="{{ form.dob.id_for_label }}" >{{ form.dob.label }}</label>-->
                                        {{form.dob.label}}: {{ form.dob }}
                                </div>
                                <br>
                                <div class="md-form">
                                    <i class="fa fa-bars prefix" style="color: cornflowerblue"></i>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        {{form.category.label}}: {{ form.category }}

                                </div>
                                <br>
                                <div class="md-form">
                                    <i class="fa fa-graduation-cap prefix" style="color: cornflowerblue"></i>
                                        {{ form.jee_air }}
                                        {% if form.jee_air.errors %}
                                            <div class="red-text">
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ form.jee_air.errors|striptags }}
                                            </div>
                                        {% endif %}
                                        <label id="{{ form.jee_air.id_for_label }}"
                                               for="{{ form.jee_air.id_for_label }}" >{{ form.jee_air.label }}</label>
                                </div>
                                <br>
                                <div class="md-form">
                                    <i class="fa fa-blind prefix" style="color: cornflowerblue"></i>
                                        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            {{form.physical_disability.label}} : {{ form.physical_disability }}</span>
                                </div>
                                <br>
                                <div class="md-form">
                                    <i class="fa fa-flag prefix" style="color: cornflowerblue"></i>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        {{ form.nationality.label }} : {{ form.nationality }}
                                </div>
                                <br>
                                <div class="md-form">
                                    <i class="fa fa-home prefix" style="color: cornflowerblue"></i>
                                        {{ form.permanent_address }}
                                        {% if form.permanent_address.errors %}
                                            <div class="red-text">
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ form.permanent_address.errors|striptags }}
                                            </div>
                                        {% endif %}
                                        <label id="{{ form.permanent_address.id_for_label }}"
                                               for="{{ form.permanent_address.id_for_label }}" >{{ form.permanent_address.label }}</label>
                                </div>
                                <br>
                                <div class="md-form">
                                    <i class="fa fa-home prefix" style="color: cornflowerblue"></i>
                                        {{ form.current_address }}
                                        {% if form.current_address.errors %}
                                            <div class="red-text">
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ form.current_address.errors|striptags }}
                                            </div>
                                        {% endif %}
                                        <label id="{{ form.current_address.id_for_label }}"
                                               for="{{ form.current_address.id_for_label }}" >{{ form.current_address.label }}</label>
                                </div>
                                <br>
                                <div class="md-form">
                                    <i class="fa fa-calendar prefix" style="color: cornflowerblue"></i>
                                        {{ form.x_year }}
                                        {% if form.x_year.errors %}
                                            <div class="red-text">
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ form.x_year.errors|striptags }}
                                            </div>
                                        {% endif %}
                                        <label id="{{ form.x_year.id_for_label }}"
                                               for="{{ form.x_year.id_for_label }}" >{{ form.x_year.label }}</label>
                                </div>
                                <br>
                                <div class="md-form">
                                    <i class="fa fa-calendar prefix" style="color: cornflowerblue"></i>
                                        {{ form.x_board_name }}
                                        {% if form.x_board_name.errors %}
                                            <div class="red-text">
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ form.x_board_name.errors|striptags }}
                                            </div>
                                        {% endif %}
                                        <label id="{{ form.x_board_name.id_for_label }}"
                                               for="{{ form.x_board_name.id_for_label }}" >{{ form.x_board_name.label }}</label>
                                </div>
                                <br>
                                <div class="md-form">
                                    <i class="fa fa-percent prefix" style="color: cornflowerblue"></i>
                                        {{ form.x_percentage }}
                                        {% if form.x_percentage.errors %}
                                            <div class="red-text">
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ form.x_percentage.errors|striptags }}
                                            </div>
                                        {% endif %}
                                        <label id="{{ form.x_percentage.id_for_label }}"
                                               for="{{ form.x_percentage.id_for_label }}" >{{ form.x_percentage.label }}</label>
                                </div>
                                <br>
                                <div class="md-form">
                                    <i class="fa fa-calendar prefix" style="color: cornflowerblue"></i>
                                        {{ form.xii_year }}
                                        {% if form.xii_year.errors %}
                                            <div class="red-text">
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ form.xii_year.errors|striptags }}
                                            </div>
                                        {% endif %}
                                        <label id="{{ form.xii_year.id_for_label }}"
                                               for="{{ form.xii_year.id_for_label }}" >{{ form.xii_year.label }}</label>
                                </div>
                                <br>
                                <div class="md-form">
                                    <i class="fa fa-calendar prefix" style="color: cornflowerblue"></i>
                                        {{ form.xii_board_name }}
                                        {% if form.xii_board_name.errors %}
                                            <div class="red-text">
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ form.xii_board_name.errors|striptags }}
                                            </div>
                                        {% endif %}
                                        <label id="{{ form.xii_board_name.id_for_label }}"
                                               for="{{ form.xii_board_name.id_for_label }}" >{{ form.xii_board_name.label }}</label>
                                </div>
                                <br>
                                <div class="md-form">
                                    <i class="fa fa-percent prefix" style="color: cornflowerblue"></i>
                                        {{ form.xii_percentage }}
                                        {% if form.xii_percentage.errors %}
                                            <div class="red-text">
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ form.xii_percentage.errors|striptags }}
                                            </div>
                                        {% endif %}
                                        <label id="{{ form.xii_percentage.id_for_label }}"
                                               for="{{ form.xii_percentage.id_for_label }}" >{{ form.xii_percentage.label }}</label>
                                </div>
                                <br>
                                <div class="md-form">
                                    <i class="fa fa-image prefix" style="color: cornflowerblue"></i>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        {{ form.std_image.label }} : {{ form.std_image }}
                                </div>
                                <br>
                                <!--<div style="text-align: right">
                                    <a onclick="terms()" class="btn btn-primary" style="color: blue">next &ndash;&gt; </a>
                                </div>-->
                            </div>
                            <div id="tnc" style="display: block">
                                <!--<a onclick="terms()" class="btn btn-primary" style="color: blue;text-align: right"> <&#45;&#45; Prev</a>-->
                                <br>
                                <br>
                                <p style="font-size: 1.15rem; color: red;">The following are the norms for placements
                                    and internships. Please read them carefully. All registered students are expected to
                                    follow the below :</p>
                                <div style="overflow-y: scroll;height: 25rem;width: 100%;">
                                    <br>

                                    <h3 style="text-decoration: underline;text-align: center;font-weight: bold">Norms
                                        for Student Placements and Internships</h3>
                                    <p class="text"> Following are norms for students to register with Career Development Cell (CDC), IIT Jodhpur, for participating in the placement and internship activities facilitated by the Institute.   </p>
                  <br>
                  <h4 class="h4"><font color="black">General</font></h4>
                  <p class="card-text">
                    <ol>
                      <li> The Career Development Cell  only assists students in the placement process and does not take responsibility for placing students.</li>
                      <li> No Student should contact any official of a company registered with the CDC.</li>
                      <li> A Student should not provide any wrong information to CDC.</li>
                      <font color="red"><li>If a student is found using any unfair means during the online interview/tests, he/she shall be debarred from the process and be liable to severe consequences including disciplinary action.</li></font>
                    </ol>
                  </p>

                <br>

                <h4 class="h4"><font color="black">Placement</font></h4>
                  <p class="card-text">
                    <ol>
                    <li> If a Student registers to interview with a company, it is mandatory for the Student to participate in the entire process starting from presentation by the company to the interview.</li>
                    <li> Inappropriate behavior is unacceptable by a Student during placement or internship process, which may hamper the Company-Institute relationship or Institute policies of decorum.</li>
                    <li> It is mandatory for a student to follow the dress code laid down by the CDC.</li>
                    <li> It is suggested for a student to accept an offer made by a company. A Student, who is offered a job by a company, will be out of the placement process irrespective of whether he/she accepts the offer.</li>
                    <li> In case a Student receives a Pre-Placement Offer (PPO), he/she must accept or reject the offer before appearing for the next round of the Interviews. Once the Student accepts the PPO, he/she will be immediately out of the placement process. Only when the Student rejects the PPO, can he/she participate in the further placement rounds.</li></font>    
                    <font color="red"><li> If a student registers and fails to show up at any stage of the whole process he/she shall be debarred from registering in the next 3 companies of the domain that applies to the candidate.</li></font>
                    <li> If a Student has multiple job offers on a single day, he/she should select one, and inform the same to CDC within the minimum time period specified by the CDC.</li>
                    <li> Only the batch of Students graduating in summer 2021 is eligible to participate in the 2020 placement process. <font color="red">CDC has the sole authority to accommodate any exception in this regard under very special circumstances.</font></li>
                    </ol>
                  </p>

                <br>

                <h4 class="h4"><font color="black">Internship</font></h4>
                  <p class="card-text">
                    <ol>
                    <li> It is strongly recommended to a student that he/she should accept an internship offer made by a company. A Student, who is offered an internship by a company, will automatically be out of the internship process irrespective of whether the student accepts the internship or not.</li>
                    <li> As an Intern in a company, a student is expected to create a positive image about himself and the Institute. Any negative feedback received from the company during a student’s internship period will be considered seriously and an appropriate action will be taken.</li>
                    <font color="red"><li> . Post-acceptance, If a student fails to join the internship of a company that extended the offer, then he/she shall be denied from applying to any company on Day 1* of the successive placement season.</li></font>
                    <br>
                    <font color="red"><p>*Day 1 refers to the first set of companies of the domain that applies to the candidate.</p></font>
                    <font color="red"><li>If a student registers and fails to show up at any stage of the whole process he/she shall be debarred from registering in the next 3 companies of the domain that applies to the candidate.</li></font>
                    </ol>
                  </p>
                <br>
                <p  style="font-size:15px"><b> Violation of any of the above norms will lead to debarring the student from the entire placement process.</b> Further, Career Development Cell reserves the right to inform any violation by a Student to Office of Academics and/or the Office of Students for a suitable disciplinary action.  </p>
                <br><br>
                                </div>
                                <div>
                                    <br>
                                    <br>
                                    &nbsp; <input type="checkbox" id="agree" onclick="show()"><span class="green-text">&nbsp; I have read the Placement Norms and hereby agree to comply.</span>
                                </div>
                                <div>

                                    <button class="btn btn-primary" type="submit" id="register" style="display: none">
                                        Register
                                    </button>
                                </div>
                            </div>

                </form>
            </div>
        </div>

    </div>
    </div>
    </div>
    <div class="col-lg-1"></div>


    </div>
    <script type="text/javascript">
        /*function terms() {
            var tnc = document.getElementById("tnc");
            var register_form = document.getElementById("register_form");
            if(tnc.style.display === "none"){
                tnc.style.display = "block";
                register_form.style.display = "none";
            }
            else{
                tnc.style.display = "none";
                register_form.style.display = "block";
            }
        }*/

        function show() {
            var condition = document.getElementById("agree");
            if (condition.checked) {
                document.getElementById("register").style.display = "block";
            }
            else {
                document.getElementById("register").style.display = "none";
            }
        }
    </script>
{% endblock %}
