{% extends 'main/base.html' %}
{% block body %}
    <div class="col-lg-10">
        <div class="card">
            <div class="card" id="my-card"><span style="font-size: 1.5rem"> &nbsp; Student Registration</span></div>
            <div class="card-block">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-primary" type="submit">Register</button>
                </form>
            </div>
        </div>
    </div>
    </div>
{% endblock %}