{% extends 'student/base.html' %}
{% block body %}

    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <div class="card">
                <div class="card" id="my-card"><span style="font-size: 1.5rem"> &nbsp; Resume Update</span></div>
                <div class="card-block">
                    <table class="table table-striped" style="border:1rem;">
                        <thead class="lighten-4">
                        <tr>
                            <th class="theader">S.No</th>
                            <th class="theader">Resume</th>
                            <th class="theader">Reference Name</th>
                            <th class="theader">Approval Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for resume in resume_list %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td><a href="{{ resume.file }}">
                                    <button class=" btn btn-info">
                                        Resume {{ forloop.counter }}
                                    </button>
                                </a></td>
                                <td>{{ resume.reference }}</td>
                                <td>
                                    {% if resume.is_verified %}
                                        <span class="green-text"> Approved</span>
                                    {% else %}
                                        <span class="red-text">Not Approved</span>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    <br><br><br>

                        <form method="post" id="new_resume_upload">
                            {% csrf_token %}
                            <hr>
                            <h2 style="font-weight: normal">Upload Another Resume:</h2>
                            <hr>

                            <!-- One "tab" for each step in the form: -->
                            <div class="row">
                                <div class="col-lg-1"></div>
                                <div class="col-lg-4">File:
                                    <p><input type="file" name="file" required id="id_file" style="padding: 10px;width: 100%;font-size: 17px"/></p>
                                </div>
                                <div class="col-lg-1" style="text-align: right"><br><i class="fa fa-pencil" style="font-size: 2rem;"></i></div>
                                <div class="col-lg-6" style="text-align: left">Reference Name:
                                    <p><input placeholder="Reference Name" name="reference" class="form-control" id="id_reference" oninput="this.className=''" style="border: 1px solid #aaaaaa;padding: 10px;width: 100%;font-size: 17px"/></p>
                                    <p>Enter a reference name for this resume by which
                                    you can remember the details of this particular resume</p>
                                </div>
                                <div class="col-lg-10" style="text-align: center" >
                                    <button class="btn btn-primary" type="submit">Submit</button>
                                </div>
                            </div>
                            </form>



                     <!--   <form method="post">
                            <label for="id_file" style="font-size: medium;">File:</label>
                            <input type="file" name="file" required id="id_file"/>
                            <br><br>
                        <table>
                            <tr><td>
                           <div class="md-form" style="width: 20rem;">
                                {#                                <i class="fa fa-pencil prefix" style="color: #4285F4  "></i>#}
                                <input type="text" name="reference" class="form-control" id="id_reference"/>
                                <label for="username">Reference Name</label>
                            </div>

                            <p class="helptext" style="width:20rem;font-size: 0.85rem;">Enter a reference name for this resume by which
                                you can remember the details of this particular resume</p>
                            {#{{ form.as_p }}#}
                            </td></tr>
                            <tr><td>
                            <button class="btn btn-primary" type="submit">Submit</button>
                            </td></tr>
                        </table>
                        </form> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-1"></div>
        </div>


{% endblock %}

