<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" style="margin: auto;margin-bottom: 2.5rem;">
    <div class="card border-dark mb-3">
        <div class="card text-center " style="margin-right: 0rem; margin-left: 0rem;">
            <!--            <div class="card-header" style="font-size: 1.15rem; background-color: #f5f5f5; ">&nbsp;-->
            <!--                <b>{{ c3member.department }}</b>-->
            <!--            </div>-->
            <div class="card-body" style="background-color: white">
                {% if c3member.profile_image %}
                <img src="{{ c3member.profile_image.url }}" alt="{{c3member.name}}"
                     style="height: 12rem; width: 10rem; margin: auto; margin-top: 0.5rem; margin-bottom: 0.5rem;border-radius: 0.25rem">
                {% endif %}
            </div>
            <div class="card-footer text-muted" style="background-color: #f5f5f5">
                <span style="color: black; font-size: 1.35rem"><b>{{c3member.name}}</b></span>
                <div class="card-header" style="font-size: 1.15rem; background-color: #f5f5f5; ">&nbsp;
                    <b>{{ c3member.department }}</b>
                </div>
                <p class="text-left">
                <table>
                    <tr>
                        <td align="left">&nbsp;{% if c3member.email %}
                            <span style="color: black"><i class="fa fa-envelope"></i>&nbsp; {{c3member.email}}</span>
                            {% endif %}
                        </td>
                    </tr>
                </table>
                </p>
            </div>
        </div>
    </div>
</div>