{% extends 'company/base.html' %}
{% block body %}

    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <div class="card">
                <div class="card" id="my-card"><span style="font-size: 1.5rem"> &nbsp;
                    {% if request.path == "/company/intern_offers/" %}
                        Intern
                    {% elif request.path == "/company/job_offers/" %}
                        Job
                    {% endif %}
                    Offers
                </span></div>
                <div class="card-block">
                    <table class="table table-striped">
                        <thead class="lighten-4">
                        <tr>
                            <th class="theader">S.No</th>
                            <th class="theader">Job Designation</th>
                            <th class="theader">Job Description</th>
                            <th class="theader">View Offer</th>
                            <th class="theader">Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for ad in ad_list %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ ad.designation }}</td>
                                <td>{{ ad.description }}</td>
                                <td>
                                    <a href="{{ ad.get_absolute_url }}">
                                        <button class="btn btn-info btn-sm">
                                            View Offer
                                        </button>
                                    </a>
                                </td>
                                <td onclick="toggleOffers('{{ ad.id }}')" style="color: green">
                                    {{ ad.get_offers.count }} Applicant(s) (Click to View)
                                </td>
                            </tr>

                            {% if ad.get_offers != 0 %}
                                <tr>
                                    <td colspan="5">
                                        <table class="table table-bordered" id='{{ ad.id }}'
                                               style="display: none; width: 60%;" align="center">
                                            <thead class="lighten-4">
                                            <tr>
                                                <th class="theader">S.No</th>
                                                <th class="theader">Roll Number</th>
                                                <th class="theader">Name</th>
                                                <th class="theader">Resume</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for offer in ad.get_offers %}
                                                <tr>
                                                    <td>{{ forloop.counter }}</td>
                                                    <td>{{ offer.student.user.username }}</td>
                                                    <td>{{ offer.student.user.get_full_name }}</td>
                                                    <td>
                                                        <a href="{{ offer.resume.file.url }}" target="_blank">
                                                            <button class="btn btn-info btn-sm">Resume</button>
                                                        </a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            {% endif %}

                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>
    </div>

    <script type="text/javascript">
        var ad_id;

        function toggleOffers(ad_id) {
            console.log(ad_id)
            x = document.getElementById(ad_id)
            console.log(x)
            if (x.style.display == "none")
                x.style.display = "";
            else
                x.style.display = "none";
        }
    </script>

{% endblock %}


