{% load i18n %}{% autoescape off %}
    {% blocktrans %}
        You're receiving this email because you requested a password reset for your user account at Student Placement
        Cell Website IIT Jodhpur https://spc.iitj.ac.in
    {% endblocktrans %}


    {% trans "Please go to the following page and choose a new password:" %}
    {% block reset_link %} spc.iitj.ac.in{% url 'password_reset_confirm' uidb64=uid token=token %}
    {% endblock %}

    {% trans "Your username, in case you've forgotten:" %} {{ user.get_username }}


    DO NOT REPLY TO THIS EMAIL


    {% trans "Thanks SPC WebD Team" %}

    {% blocktrans %}
        For further queries related to website
        Contact: ahuja.2@iitj.ac.in
    {% endblocktrans %} {% endautoescape %}