{% extends 'main/base.html' %}
{% load static %}
{% block body %}
<div class="col-lg-3"></div>
    <div class="col-lg-4" style="margin-left:auto; margin-right:auto;">
        <div class="card">
            <div class="card" style="box-shadow: none;" id="my-card"><span style="font-size: 1.5rem"> <center>Password Reset Complete</center> </span></div>
            <div class="card-block">
                <br>
                <p style="text-align: center;">
                    Your password has been reset.<br>You may go ahead and <a href="{% url 'login' %}">Login</a> now!
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-3"></div>
{% endblock %}

{% block footer %}

    {% include './password_reset_footer.html' %}

{% endblock %}