{% extends 'main/base.html' %}
{% load static %}
{% block body %}
    <div class="col-lg-3"></div>
    <div class="col-lg-4" style="margin-left:auto; margin-right:auto;">
        <div class="card">
            <div class="card" style="box-shadow: none;" id="my-card"><span style="font-size: 1.5rem"> <center>Password Reset</center> </span></div>
            <div class="card-block">
                <br>
                <form method="POST" class="form-signin">
                    {% csrf_token %}
                    <div class="md-form">
                        <i class="fa fa-key prefix" style="color: #4285F4  "></i>
                        <input minlength="8" type="password" name="new_password1" id="id_new_password1" class="form-control" required="true">
                        <label for="id_new_password1">New Password</label>
                    </div>
                    <div class="md-form">
                        <i class="fa fa-key prefix" style="color: #4285F4  "></i>
                        <input minlength="8" type="password" name="new_password2" id="id_new_password2" class="form-control" required="true">
                        <label for="id_new_password2">New Password Confirmation</label>
                    </div>
                    <ul>
                        <li style="font-size: 75%">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Your
                            password can&#39;t be too similar to your other personal information.
                        </li>
                        <li style="font-size: 75%">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Your
                            password must contain at least 8 characters.
                        </li>
                        <li style="font-size: 75%">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Your
                            password can&#39;t be a commonly used password.
                        </li>
                        <li style="font-size: 75%">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Your
                            password can&#39;t be entirely numeric.
                        </li>
                    </ul>
                
                    {% for field in form %}
                        {% for error in field.errors %}
                        <p style="color: red">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ error }}</p>
                        {% endfor %}
                    {% endfor %}

                    <div class="text-center">
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-3"></div>

{% endblock %}

{% block footer %}

    {% include './password_reset_footer.html' %}

{% endblock %}