{% load i18n %}
<!DOCTYPE html>
<html style="font-family: sans-serif; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;">

<body
    style="min-width: 320px; background-color: #FFFFFF; width: 100%; margin: 0; padding: 0; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;">
    <table width="100%" height="100%" cellpadding="0" cellspacing="0" border="0" align="left" valign="top"
        style="border-collapse: collapse; border-spacing: 0;">
        <tbody>
            <tr>
                <td align="center" valign="top" style="padding: 0;">
                    <table width="600" align="center" cellpadding="0" cellspacing="0"
                        style="border-collapse: collapse; border-spacing: 0; background-color: #F3F4F5; text-align: center;"
                        border="0" valign="top" bgcolor="#F3F4F5">
                        <tbody>
                            <tr>
                                <td style="padding: 0;">
                                    <div display="block"
                                        style="position: static; overflow: inherit; padding: 3rem 3rem 3rem 3rem; display: block; color: #8D1516;">
                                        <h1>Career Development Cell</h1>
                                        <h3>IIT Jodhpur</h3>
                                        <br><br>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 0;">
                                    <div display="block"
                                        style="position: static; border-radius: 0; overflow: inherit; padding: 0rem 3rem 0rem 3rem; display: block;">
                                        <span color="gray1" scale="1"
                                            style="color: #052D49; font-family: America, sans-serif; -webkit-letter-spacing: inherit; -moz-letter-spacing: inherit; -ms-letter-spacing: inherit; letter-spacing: inherit; margin: 0; opacity: 1; position: relative; text-align: inherit; text-transform: inherit; text-shadow: none; -webkit-transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1); transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1); -webkit-user-select: inherit; -moz-user-select: inherit; -ms-user-select: inherit; user-select: inherit; font-size: 1rem; font-weight: 400; line-height: 1.5;">
                                            <div overflow="hidden"
                                                style="box-shadow: 0 2px 0 0 rgba(5, 45, 73, 0.06999999999999995); background-color: #FFFFFF; overflow: hidden;">
                                                <div display="block"
                                                    style="box-sizing: border-box; position: static; -webkit-transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1); transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1); overflow: inherit; padding: 2rem 2rem 2rem 2rem;border-top: none; border-right: none; border-bottom: none; border-left: none; display: block;">
                                                    <div color="gray1" scale="1"
                                                        style="color: #052D49; font-family: America, sans-serif; -webkit-letter-spacing: inherit; -moz-letter-spacing: inherit; -ms-letter-spacing: inherit; letter-spacing: inherit; margin: 0; opacity: 1; position: relative; text-align:center; text-transform: inherit; text-shadow: none; -webkit-transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1); transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1); -webkit-user-select: inherit; -moz-user-select: inherit; -ms-user-select: inherit; user-select: inherit; font-size: 1rem; font-weight: 400; line-height: 1.5;">
                                                        <span color="gray3" scale="1" size="2"
                                                            style="color: #4F687A;text-align:center;font-family: America, sans-serif; -webkit-letter-spacing: inherit; -moz-letter-spacing: inherit; -ms-letter-spacing: inherit; letter-spacing: inherit; margin: 0; opacity: 1; position: relative; text-align: inherit; text-transform: inherit; text-shadow: none; -webkit-transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1); transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1); -webkit-user-select: inherit; -moz-user-select: inherit; -ms-user-select: inherit; user-select: inherit; font-size: 1.3090000000000002rem; font-weight: 400; line-height: 1.25;">
                                                            Thank you for registering with us
                                                        </span>

                                                        <div display="block"
                                                            style="box-sizing: border-box; position: static; -webkit-transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1); transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1); overflow: inherit; margin: 1.5rem 0rem 1.5rem 0rem; display: block;">
                                                            <br>You have successfully registered with the Career Development Cell, IIT Jodhpur.<br><br>For future reference your username is {{ username }}<br><br>Please click the button below to login to your account.
                                                        </div>
                                                    </div>
                                                    <a color="primary" type="button" href="http://spc.iitj.ac.in/login/"
                                                    role="button" style="-webkit-backface-visibility: hidden; backface-visibility: hidden; background-color: #8D1516; border: 2px solid #8D1516; border-radius: 0; box-sizing: border-box; display: inline-block; font-weight: 700; padding: 1rem 1.5rem; position: relative; text-align: center; text-decoration: none; text-transform: uppercase; -webkit-transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1); transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1); -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; white-space: inherit; cursor: pointer; color: #FFFFFF; font-size: 1rem;">
                                                    <div style="visibility: visible;">Login</div>
                                                    </a>
                                                </div>
                                            </div>
                                        </span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 0;">
                                    <div display="block"
                                        style="box-sizing: border-box; position: static; -webkit-transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1); transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1); overflow: inherit; padding: 0rem 0rem 1.5rem 0rem; display: block;">
                                        <p color="gray3" scale="1"
                                            style="color: #4F687A; font-family: America, sans-serif; -webkit-letter-spacing: inherit; -moz-letter-spacing: inherit; -ms-letter-spacing: inherit; letter-spacing: inherit; opacity: 1; position: relative; text-align: inherit; text-transform: inherit; text-shadow: none; -webkit-transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1); transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1); -webkit-user-select: inherit; -moz-user-select: inherit; -ms-user-select: inherit; user-select: inherit; font-size: 1rem; font-weight: 400; line-height: 1.5; margin: 0.5rem 0rem;">
                                            <br><br><br><br>We love hearing from you!<br>Have any questions? Please <a
                                                href="http://spc.iitj.ac.in/contacts/" color="blue" scale="1"
                                                target="_self"
                                                style="background-color: transparent; color: #8D1516; cursor: pointer; display: inline-block; font-weight: 700; max-width: 100%; overflow: hidden; text-decoration: none; text-decoration-skip: ink; text-overflow: ellipsis; -webkit-transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1); transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1); vertical-align: bottom; font-size: 1rem; line-height: 1.5;">
                                                contact us</a>.</p>
                                    </div>
                                    <div display="block"
                                        style="box-sizing: border-box; position: static; -webkit-transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1); transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1); overflow: inherit; padding: 0rem 0rem 3rem 0rem; margin: 0rem 0rem 0rem 0rem; border-top: none; border-right: none; border-bottom: none; border-left: none; display: block;">
                                        <a href="https://in.linkedin.com/in/office-of-student-placements-iit-jodhpur-62a31352"
                                            color="blue" scale="1" target="_self"
                                            style="background-color: transparent; color: #8D1516; cursor: pointer; display: inline-block; font-weight: 700; max-width: 100%; overflow: hidden; text-decoration: none; text-decoration-skip: ink; text-overflow: ellipsis; -webkit-transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1); transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1); vertical-align: bottom; font-size: 1rem; line-height: 1.5;">LinkedIn</a><span
                                            style="margin-left:1em;margin-right:1em;">·</span>

                                        <a href="http://spc.iitj.ac.in/" color="blue" scale="1" target="_self"
                                            style="background-color: transparent; color: #8D1516; cursor: pointer; display: inline-block; font-weight: 700; max-width: 100%; overflow: hidden; text-decoration: none; text-decoration-skip: ink; text-overflow: ellipsis; -webkit-transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1); transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1); vertical-align: bottom; font-size: 1rem; line-height: 1.5;">Official
                                            Website</a><span style="margin-left:1em;margin-right:1em;">·</span>

                                        <a href="https://www.facebook.com/SPC.IITJ/" color="blue" scale="1"
                                            target="_self"
                                            style="background-color: transparent; color: #8D1516; cursor: pointer; display: inline-block; font-weight: 700; max-width: 100%; overflow: hidden; text-decoration: none; text-decoration-skip: ink; text-overflow: ellipsis; -webkit-transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1); transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1); vertical-align: bottom; font-size: 1rem; line-height: 1.5;">Facebook</a>
                                    </div>

                                    <p color="gray3" scale="1"
                                        style="color: #4F687A; font-family: America, sans-serif; -webkit-letter-spacing: inherit; -moz-letter-spacing: inherit; -ms-letter-spacing: inherit; letter-spacing: inherit; opacity: 1; position: relative; text-align: inherit; text-transform: inherit; text-shadow: none; -webkit-transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1); transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1); -webkit-user-select: inherit; -moz-user-select: inherit; -ms-user-select: inherit; user-select: inherit; font-size: 1rem; font-weight: 400; line-height: 1.5; margin: 0.5rem 0rem;">
                                        This email was sent to {{ email }}
                                        <br>
                                    </p>
                                    </span>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>
