{% extends base_template %}
{% block body %}
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <div class="card">
                <div class="card" id="my-card"><span style="font-size: 1.5rem"> &nbsp;{{ type }}  Advertisement &nbsp;&nbsp;&nbsp; <i
                        align="right" class="red-text"> Expires {{ ad.expiry }}</i></span>
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-lg-6">
                            <br>
                            <div class="md-form">
                                <i class="fa fa-clipboard prefix"></i>
                                <input type="text" value="{{ type }} Profile:" readonly
                                       style="font-size: x-large; font-weight: bold"/>
                                <br>
                                <br>
                                <table border="0" cellpadding="5px">
                                    <tr valign="top">
                                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                        <td style="font-size:large;font-weight: bold;">Company</td>
                                        <td>&nbsp;:&nbsp;</td>
                                        <td>{{ ad.company }}</td>
                                    </tr>
                                    <tr valign="top">
                                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                        <td style="font-size:large;font-weight: bold;">Designation</td>
                                        <td>&nbsp;:&nbsp;</td>
                                        <td>{{ ad.designation }}</td>
                                    </tr>
                                    <tr valign="top">
                                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                        <td style="font-size:large;font-weight: bold;">Description</td>
                                        <td>&nbsp;:&nbsp;</td>
                                        <td>{{ ad.description }}</td>
                                    </tr>
                                    <tr valign="top">
                                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                        <td style="font-size:large;font-weight: bold;">Joining Date</td>
                                        <td>&nbsp;:&nbsp;</td>
                                        <td>{{ ad.tentative_join_date }}</td>
                                    </tr>
                                    <tr valign="top">
                                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                        <td style="font-size:large;font-weight: bold;">Job Location</td>
                                        <td>&nbsp;:&nbsp;</td>
                                        <td>{{ ad.tentative_job_location }}</td>
                                    </tr>
                                </table>

                            </div>
                            <div class="md-form">
                                <i class="fa fa-money prefix"></i>
                                <input type="text" value="Package Details:" readonly
                                       style="font-size: x-large; font-weight: bold"/>
                                <br>
                                <br>

                                <table border="0">
                                    <tr valign="top">
                                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                        <td style="font-size:large;font-weight: bold;">CTC</td>
                                        <td>&nbsp;:&nbsp;</td>
                                        <td>{{ ad.ctc }}</td>
                                    </tr>
                                    <tr valign="top">
                                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                        <td style="font-size:large;font-weight: bold;">Gross Salary</td>
                                        <td>&nbsp;:&nbsp;</td>
                                        <td>{{ ad.gross_salary }}</td>
                                    </tr>
                                    <tr valign="top">
                                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                        <td style="font-size:large;font-weight: bold;">Bonus&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                        <td>&nbsp;:&nbsp;</td>
                                        <td>{{ ad.bonus }}</td>
                                    </tr>
                                    {% if ad.bond %}
                                        <tr valign="top">
                                            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                            <td style="font-size:large;font-weight: bold;">Bond</td>
                                        </tr>
                                    {% endif %}
                                    {% if ad.bond_details %}
                                        <tr valign="top">
                                            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                            <td style="font-size:large;font-weight: bold;">Bond Details&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                            <td>&nbsp;:&nbsp;</td>
                                            <td><span class="red-text" style="font-weight: bold"> {{ ad.bond_details }}</span></td>
                                        </tr>
                                    {% endif %}
                                </table>
                            </div>
                            <br>
                        </div>
                        <!--<div class="col-lg-1"></div>-->
                        <div class="col-lg-5">
                            <br>
                            <div class="md-form">
                                <i class="fa fa-check prefix"></i>
                                <input type="text" value="Eligibility:" readonly
                                       style="font-size: x-large; font-weight: bold">
                                <br>
                                <br>
                                <form>
                                    <table border="0">
                                        <tr valign="top">
                                            <td style="font-size:large;font-weight: bold;">Eligible Branches And Programs</td>
                                            <td>: </td>
                                            <td>
                                                {% for program_branch in  ad.eligible_program_branch.values %}
                                                    {{ program_branch.abbreviation }}<br>
                                                {% endfor %}
                                            </td>
                                        </tr>
                                        <tr valign="top">
                                            <!-- <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td> -->
                                            <td style="font-size:large;font-weight: bold;">Minimum CGPA</td>
                                            <td>: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                            <td>{{ ad.min_gpa }}</td>
                                        </tr>
                                    </table>
                                </form>
                            </div>
                            <div class="md-form">
                                <i class="fa fa-check prefix"></i>
                                <input type="text" value="Selection Process:" readonly
                                       style="font-size: x-large; font-weight: bold">
                                <br>
                                <br>
                                <form>
                                    <table border="0">
                                        {% if ad.resume_required %}
                                            <tr>
                                                <td>Resume Shortlist</td>
                                            </tr>
                                        {% endif %}
                                        {% if ad.resume_shortlist_criteria %}
                                            <tr>
                                                <td>Resume Shortlist Criteria: <span
                                                        class="red-text"> {{ ad.resume_shortlist_criteria }}</span></td>
                                            </tr>
                                        {% endif %}

                                        {% if ad.aptitude_test_required %}
                                            <tr>
                                                <td>Aptitude Test</td>
                                            </tr>
                                        {% endif %}
                                        {% if ad.group_discussion_required %}
                                            <tr>
                                                <td>Group Discussion</td>
                                            </tr>
                                        {% endif %}

                                        {% if ad.number_of_technical_tests %}
                                            <tr>
                                                <td>Number of Technical Test: <span
                                                        class="red-text" style="font-weight: bold"> {{ ad.number_of_technical_tests }}</span></td>
                                            </tr>
                                        {% endif %}

                                        {% if ad.number_of_technical_interviews %}
                                            <tr>
                                                <td>Number of Technical
                                                    Interview: <span
                                                            class="red-text" style="font-weight: bold"> {{ ad.number_of_technical_interviews }} </span>
                                                </td>
                                            </tr>
                                        {% endif %}
                                        {% if ad.number_of_hr_rounds %}
                                            <tr>
                                                <td>Number of HR Round Interview: <span
                                                        class="red-text" style="font-weight: bold">  {{ ad.number_of_hr_rounds }} </span></td>
                                            </tr>
                                        {% endif %}
                                        {% if ad.medical_test_required %}
                                            <tr>
                                                <td>Medical Test</td>
                                            </tr>
                                        {% endif %}
                                    </table>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>
    </div>
{% endblock %}

