{% extends 'main/base.html' %}

{% block body %}
<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
        <div class="card">
            <div class="my-card" id="my-card"><span style="font-size: 1.5rem"> &nbsp; Company Registration</span></div>
            <div class="card-block">
                <form method="post">
                    <div class="red-text">
                        {{ form.non_field_errors }}
                            {% if form.field.errors %}
                                {{ field.errors|striptags }}
                            {% endif %}
                    </div>
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-9">
                            <br>
                            <div class="md-form">
                                <i class="fa fa-user prefix" style="color: cornflowerblue"></i>
                                    {{ form.username }}
                                    {% if form.username.errors %}
                                        <div class="red-text">
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ form.username.errors|striptags }}
                                        </div>
                                    {% endif %}
                                    <label id="{{ form.username.id_for_label }}"
                                           for="{{ form.username.id_for_label }}" >{{ form.username.label }}</label>
                            </div>
                            <br>
                            <div class="md-form">
                                <i class="fa fa-key prefix" style="color: cornflowerblue"></i>
                                    {{ form.password1 }}
                                    {% if form.password1.errors %}
                                        <div class="red-text">
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ form.password1.errors|striptags }}
                                        </div>
                                    {% endif %}
                                    <label id="{{ form.password1.id_for_label }}"
                                           for="{{ form.password1.id_for_label }}" >{{ form.password1.label }}</label>
                            </div>
                            <br>
                            <div class="md-form">
                                <i class="fa fa-key prefix" style="color: cornflowerblue"></i>
                                    {{ form.password2 }}
                                    {% if form.password2.errors %}
                                        <div class="red-text">
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ form.password2.errors|striptags }}
                                        </div>
                                    {% endif %}
                                    <label id="{{ form.password2.id_for_label }}"
                                           for="{{ form.password2.id_for_label }}" >{{ form.password2.label }}</label>
                                <p>
                                <ul>
                                    <li style="font-size: small">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Your
                                        password can&#39;t be too similar to your other personal information.
                                    </li>
                                    <li style="font-size: small">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Your
                                        password must contain at least 8 characters.
                                    </li>
                                    <li style="font-size: small">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Your
                                        password can&#39;t be a commonly used password.
                                    </li>
                                    <li style="font-size: small">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Your
                                        password can&#39;t be entirely numeric.
                                    </li>
                                </ul>
                                </p>
                            </div>
                            <br>
                            <div class="md-form">
                                <i class="fa fa-user prefix" style="color: cornflowerblue"></i>
                                    {{ form.name }}
                                    {% if form.name.errors %}
                                        <div class="red-text">
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ form.name.errors|striptags }}
                                        </div>
                                    {% endif %}
                                    <label id="{{ form.name.id_for_label }}"
                                           for="{{ form.name.id_for_label }}" >{{ form.name.label }}</label>
                            </div>
                            <br>
                            <div class="md-form">
                                <i class="fa fa-globe prefix" style="color: cornflowerblue"></i>
                                    {{ form.domain }}
                                    {% if form.domain.errors %}
                                        <div class="red-text">
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ form.domain.errors|striptags }}
                                        </div>
                                    {% endif %}
                                    <label id="{{ form.domain.id_for_label }}"
                                           for="{{ form.domain.id_for_label }}" >{{ form.domain.label }}</label>
                            </div>
                            <br>
                            <div class="md-form">
                                <i class="fa fa-globe prefix" style="color: cornflowerblue"></i>
                                    {{ form.url }}
                                    {% if form.url.errors %}
                                        <div class="red-text">
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ form.url.errors|striptags }}
                                        </div>
                                    {% endif %}
                                    <label id="{{ form.url.id_for_label }}"
                                           for="{{ form.url.id_for_label }}" >{{ form.url.label }} {{form.url.help_text}}</label>
                            </div>
                            <br>
                            <div class="md-form">
                                <i class="fa fa-map-marker prefix" style="color: cornflowerblue"></i>
                                    {{ form.city }}
                                    {% if form.city.errors %}
                                        <div class="red-text">
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ form.city.errors|striptags }}
                                        </div>
                                    {% endif %}
                                    <label id="{{ form.city.id_for_label }}"
                                           for="{{ form.city.id_for_label }}" >{{ form.city.label }}</label>
                            </div>
                            <br>
                            <div class="md-form">
                                <i class="fa fa-map-marker prefix" style="color: cornflowerblue"></i>
                                    {{ form.state }}
                                    {% if form.state.errors %}
                                        <div class="red-text">
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ form.state.errors|striptags }}
                                        </div>
                                    {% endif %}
                                    <label id="{{ form.state.id_for_label }}"
                                           for="{{ form.state.id_for_label }}" >{{ form.state.label }}</label>
                            </div>
                            <br>
                            <div class="md-form">
                                <i class="fa fa-map-marker prefix" style="color: cornflowerblue"></i>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    {{form.country.label}}: {{ form.country }}
                            </div>
                            <br>
                            <div class="md-form">
                                <i class="fa fa-map-marker prefix" style="color: cornflowerblue"></i>
                                    {{ form.pin_code }}
                                    {% if form.pin_code.errors %}
                                        <div class="red-text">
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ form.pin_code.errors|striptags }}
                                        </div>
                                    {% endif %}
                                    <label id="{{ form.pin_code.id_for_label }}"
                                           for="{{ form.pin_code.id_for_label }}"  >{{ form.pin_code.label }}</label>
                            </div>
                            <br>
                            <div class="md-form">
                                <i class="fa fa-phone prefix" style="color: cornflowerblue"></i>
                                    {{ form.contact }}
                                    {% if form.contact.errors %}
                                        <div class="red-text">
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ form.contact.errors|striptags }}
                                        </div>
                                    {% endif %}
                                    <label id="{{ form.contact.id_for_label }}"
                                           for="{{ form.contact.id_for_label }}" >{{ form.contact.label }}</label>
                            </div>
                            <br>


                            <button class="btn btn-primary" style="align: center" type="submit">Register</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg-1"></div>

    </div>
</div>
{% endblock %}