{% extends 'main/base.html' %}

{% block body %}
<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
        <div class="card">
            <div class="my-card" id="my-card"><span style="font-size: 1.5rem"> &nbsp; Company Registration</span></div>
            <div class="card-block">
                <form method="post">
                    <div class="red-text">
                        {{ form.non_field_errors }}
                        {% for field in form %}
                            {% if field.errors %}
                                <li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
                        {% endfor %}
                    </div>
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-9">
                            <br>
                            <div class="md-form">
                                <i class="fa fa-user prefix" style="color: cornflowerblue"></i>
                                    {{ form.username }}
                                    <label id="id_username" for="id_username" >{{ form.username.label }}</label>
                            </div>
                            <br>
                            <div class="md-form">
                                <i class="fa fa-key prefix" style="color: cornflowerblue"></i>
                                    {{ form.password1 }}
                                    <label id="id_password1" for="id_password1" >{{ form.password1.label }}</label>
                            </div>
                            <br>
                            <div class="md-form">
                                <i class="fa fa-key prefix" style="color: cornflowerblue"></i>
                                    {{ form.password2 }}
                                    <label id="id_password2" for="id_password2" >{{ form.password2.label }}</label>
                                <p>
                                <ul>
                                    <li style="font-size: small">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Your
                                        password can&#39;t be too similar to your other personal information.
                                    </li>
                                    <li style="font-size: small">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Your
                                        password must contain at least 8 characters.
                                    </li>
                                    <li style="font-size: small">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Your
                                        password can&#39;t be a commonly used password.
                                    </li>
                                    <li style="font-size: small">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Your
                                        password can&#39;t be entirely numeric.
                                    </li>
                                </ul>
                                </p>
                            </div>
                            <br>
                            <div class="md-form">
                                <i class="fa fa-user prefix" style="color: cornflowerblue"></i>
                                    {{ form.name }}
                                    <label id="id_name" for="id_name" >{{ form.name.label }}</label>
                            </div>
                            <br>
                            <div class="md-form">
                                <i class="fa fa-globe prefix" style="color: cornflowerblue"></i>
                                    {{ form.domain }}
                                    <label id="id_domain" for="id_domain" >{{ form.domain.label }}</label>
                            </div>
                            <br>
                            <div class="md-form">
                                <i class="fa fa-globe prefix" style="color: cornflowerblue"></i>
                                    {{ form.url }}
                                    <label id="id_url" for="id_url" >{{ form.url.label }}</label>
                            </div>
                            <br>
                            <div class="md-form">
                                <i class="fa fa-map-marker prefix" style="color: cornflowerblue"></i>
                                    {{ form.city }}
                                    <label id="id_city" for="id_city" >{{ form.city.label }}</label>
                            </div>
                            <br>
                            <div class="md-form">
                                <i class="fa fa-map-marker prefix" style="color: cornflowerblue"></i>
                                    {{ form.state }}
                                    <label id="id_state" for="id_state" >{{ form.state.label }}</label>
                            </div>
                            <br>
                            <div class="md-form">
                                <i class="fa fa-map-marker prefix" style="color: cornflowerblue"></i>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    {{form.country.label}}: {{ form.country }}
                            </div>
                            <br>
                            <div class="md-form">
                                <i class="fa fa-map-marker prefix" style="color: cornflowerblue"></i>
                                    {{ form.pin_code }}
                                    <label  id="id_pin_code" for="id_pin_code"  >{{ form.pin_code.label }}</label>
                            </div>
                            <br>
                            <div class="md-form">
                                <i class="fa fa-phone prefix" style="color: cornflowerblue"></i>
                                    {{ form.contact }}
                                    <label id="id_contact" for="id_contact" >{{ form.contact.label }}</label>
                            </div>
                            <br>


                            <button class="btn btn-primary" style="align: center" type="submit">Register</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg-1"></div>

    </div>
</div>
{% endblock %}